{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load search_extras %}

<!-- Footer -->
<div class="gradient g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_1--after g-py-50"
     style="background-image: url({% static 'img/bg/bg-footer.jpg' %});">
    <div class="container g-z-index-1 g-pos-rel g-color-white">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <a class="d-block g-mb-20" href="/">
                    <img class="img-fluid" src="{% static 'img/logo/logo2-footer.png' %}" alt="Logo">
                </a>
                <p>{% trans "Спеціальна інформаційна система Укрпатенту (СІС)." %}</p>
                <p>{% trans "Сервіс створено для пошуку відомостей про об'єкти промислової власності." %}</p>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">{% trans "Меню" %}</h2>
                </div>

                <nav class="text-uppercase1">
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'search:simple' %}">{% trans "Простий пошук" %}</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'search:advanced' %}">{% trans "Розширений пошук" %}</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'about:about' %}">{% trans "Про сервіс" %}</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'help:help' %}">{% trans "Допомога" %}</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'contacts:contacts' %}">{% trans "Контакти" %}</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">{% trans "Статистика" %}</h2>
                </div>

                <div class="g-color-white-opacity-0_8 g-line-height-2 g-mt-minus-4">
                    {% last_finished_indexation_date as last_finished_indexation_date %}
                    {% trans "Дата актуалізації" %}: <strong>{{ last_finished_indexation_date|date:"SHORT_DATETIME_FORMAT" }} </strong>
                </div>

                <div class="g-color-white-opacity-0_8 g-line-height-2">
                    {% documents_count as document_count %}
                    {% trans "Кількість документів" %}: <strong>{{ document_count|intword }}</strong>
                </div>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">{% trans "Зв'язок з нами" %}</h2>
                </div>

                <address class="g-bg-no-repeat g-line-height-2 g-mt-minus-4 g-color-white-opacity-0_8">
                    <div class="g-mb-10"><strong>{% trans "Адміністратор баз даних" %}</strong></div>
                    {% trans "Телефон" %}: <a href="tel:+380444940557" class="g-color-white">+380 (44) 494-05-57</a><br>
                    {% trans "Режим роботи" %}: з 8.30 до 17.15<br>
                    {% trans "Перерва" %} {% trans "з" %} 12.00 {% trans "по" %} 12.30<br>
                    <a href="mailto:taras@ukrpatent.org" class="g-color-white">taras@ukrpatent.org</a>
                </address>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</div>
<!-- End Footer -->

<!-- Copyright Footer -->
<footer class="g-py-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left g-mb-15 g-mb-0--md">
                <div class="d-lg-flex">
                    <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">&copy;
                        {% trans "Державне підприємство &laquo;Український інститут інтелектуальної власності&raquo;" %}, {% now 'Y' %}
                    </small>
                </div>
            </div>

            <div class="col-md-4 align-self-center">
                <ul class="list-inline text-center text-md-right mb-0">
                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <a href="#!" class="g-color-main">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Youtube">
                        <a href="#!" class="g-color-main">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End Copyright Footer -->