{% load staticfiles %}
{% load i18n %}
{% load uma_extras %}
{% load search_extras %}

<header id="js-header" class="u-header u-header--static u-header--show-hide u-header--change-appearance"
        data-header-fix-moment="500" data-header-fix-effect="slide">
    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-5"
         data-header-fix-moment-exclude="g-bg-white g-py-5"
         data-header-fix-moment-classes="g-bg-white-opacity-0_8 u-shadow-v18 g-py-0">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
                        type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                        data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Logo -->
                {% get_current_language as LANGUAGE_CODE %}
                <a href="{% url 'home:index' %}" class="navbar-brand d-flex">
                    {% if LANGUAGE_CODE == 'en' %}
                        <img src="{% static 'img/logo/logo2-en.png' %}" alt="" class="logo-desktop">
                        <img src="{% static 'img/logo/logo-mobile-en.png' %}" alt="" class="logo-mobile">
                    {% else %}
                        <img src="{% static 'img/logo/logo2.png' %}" alt="" class="logo-desktop">
                        <img src="{% static 'img/logo/logo-mobile.png' %}" alt="" class="logo-mobile">
                    {% endif %}
                </a>
                <!-- End Logo -->

                <!-- Navigation -->
                <div class="js-mega-menu collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--sm"
                     id="navBar">
                    <ul class="navbar-nav text-uppercase g-font-weight-600 mx-auto">

                        <li class="nav-item hs-has-sub-menu g-mx-20--lg {% if 'search' in request.path %}active{% endif %}">
                            <a href="#!" class="nav-link g-px-0" id="nav-link-1" aria-haspopup="true"
                               aria-expanded="false" aria-controls="nav-submenu-1">{% trans "Пошук" %}
                            </a>
                            <!-- Submenu -->
                            <ul class="hs-sub-menu list-unstyled g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-mt-20 g-mt-10--lg--scrolling"
                                id="nav-submenu-1" aria-labelledby="nav-link-1">
                                <li class="dropdown-item {% if request.resolver_match.view_name == 'search:simple'%}active{% endif %}">
                                    <a class="nav-link g-px-0" href="{% url 'search:simple' %}">{% trans "Простий пошук" %}</a>
                                </li>
                                <li class="dropdown-item {% if request.resolver_match.view_name == 'search:advanced'%}active{% endif %}">
                                    <a class="nav-link g-px-0" href="{% url 'search:advanced' %}">{% trans "Розширений пошук" %}</a>
                                </li>
                                <li class="dropdown-item {% if request.resolver_match.view_name == 'search:transactions'%}active{% endif %}">
                                    <a class="nav-link g-px-0" href="{% url 'search:transactions' %}">{% trans "Пошук по сповіщенням" %}</a>
                                </li>
                            </ul>
                            <!-- End Submenu -->
                        </li>

                        <li class="nav-item hs-has-sub-menu g-mx-20--lg {% if 'services' in request.path %}active{% endif %}">
                            <a href="#!" class="nav-link g-px-0" id="nav-link-1" aria-haspopup="true"
                               aria-expanded="false" aria-controls="nav-submenu-1">{% trans "Сервіси" %}
                            </a>
                            <!-- Submenu -->
                            <ul class="hs-sub-menu list-unstyled g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-mt-20 g-mt-10--lg--scrolling"
                                id="nav-submenu-1" aria-labelledby="nav-link-1">
                                <li class="dropdown-item {% if request.resolver_match.view_name == 'services:original_document'%}active{% endif %}">
                                    <a class="nav-link g-px-0" href="{% url 'services:original_document' %}">{% trans "Отримати оригінал документу" %}</a>
                                </li>
                            </ul>
                            <!-- End Submenu -->
                        </li>

                        <li class="nav-item g-mx-10--lg g-mx-15--xl {% if 'about' in request.path %}active{% endif %}">
                            <a href="{% url 'about:about' %}" class="nav-link g-py-7 g-px-0">{% trans "Про сервіс" %}</a>
                        </li>

                        <li class="nav-item g-mx-10--lg g-mx-15--xl {% if 'help' in request.path %}active{% endif %}">
                            <a href="{% url 'help:help' %}" class="nav-link g-py-7 g-px-0">{% trans "Допомога" %}</a>
                        </li>

                        <li class="nav-item g-mx-10--lg g-mx-15--xl {% if 'contacts' in request.path %}active{% endif %}">
                            <a href="{% url 'contacts:contacts' %}" class="nav-link g-py-7 g-px-0">{% trans "Зворотній зв'язок" %}</a>
                        </li>
                    </ul>
                </div>
                <!-- End Navigation -->

                <!-- Смена языков -->
                {% get_language_info for LANGUAGE_CODE as lang %}
                <div class="g-pos-rel g-width-50 g-pt-3--lg">
                    <a href="#!" id="languages-dropdown-invoker-2"
                       class="g-color-gray-dark-v2 g-color-primary--hover g-text-underline--none--hover"
                       aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false"
                       data-dropdown-event="click" data-dropdown-target="#languages-dropdown-2"
                       data-dropdown-type="css-animation" data-dropdown-duration="500"
                       data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn"
                       data-dropdown-animation-out="fadeOut">
                        {{ lang.name_local|slice:":3" }}&nbsp;<i class="fa fa-angle-down g-ml-3"></i>
                    </a>

                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as langs %}
                    <ul id="languages-dropdown-2"
                        class="list-unstyled text-left u-shadow-v23 g-pos-abs g-left-0 g-bg-white g-width-160 g-z-index-2 g-py-20 g-pb-15 g-mt-25--lg g-mt-20--lg--scrolling g-z-index-99"
                        aria-labelledby="languages-dropdown-invoker-2">
                        {% for language in langs %}
                            <li>
                                <a class="d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20"
                                   href="{% change_language language.code %}">{{ language.name_local }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Смена языков -->

                <div class="g-pos-rel g-pt-3--lg g-font-weight-600 g-mr-60 g-mr-0--md">
                    {% if user.is_authenticated %}
                        {% is_paid_services_enabled as is_paid_services_enabled %}
                        {% if is_paid_services_enabled %}
                            <div class="js-mega-menu"
                                 id="navBar2">
                                <ul class="navbar-nav g-font-weight-600 mx-auto">
                                    <li class="nav-item hs-has-sub-menu">
                                        <a class="nav-link g-px-0 g-color-primary"
                                           id="nav-link-1"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           aria-controls="nav-submenu-1"
                                           data-toggle="tooltip"
                                           data-placement="left"
                                           title="{{ request.user.get_username_full }}"
                                           href="{% url 'account:dashboard' %}">
                                            <i class="fa fa-user g-pr-5"></i>{% trans "Мій кабінет" %}
                                        </a>
                                        <!-- Submenu -->
                                        <ul class="g-pos-abs hs-sub-menu list-unstyled g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-mt-10 g-mt-20--md g-mt-10--lg--scrolling"
                                            id="nav-submenu-1" aria-labelledby="nav-link-1">
                                            <li class="dropdown-item">
                                                <a class="nav-link g-px-0" href="{% url 'account:account_balance' %}">{% trans "Мій рахунок (баланс)" %}</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="nav-link g-px-0" href="{% url 'account:views_history' %}">{% trans "Історія переглядів" %}</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="nav-link g-px-0" href="{% url 'account:messages_list' %}">{% trans "Повідомлення" %}</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="nav-link g-px-0" href="{% url 'account:settings' %}">{% trans "Налаштування" %}</a>
                                            </li>
                                            <li class="dropdown-item g-bg-gray-light-v5">
                                                <a class="nav-link g-px-0 g-font-weight-600"
                                                   href="{% url 'auth:logout' %}"><i class="fa fa-sign-out g-pr-5"
                                                                                     aria-hidden="true"></i>{% trans "Вихід" %}
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- End Submenu -->
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <span data-toggle="tooltip" data-placement="bottom" title="{{ request.user.get_username_full }}">{{ request.user.get_username_short|truncatechars:15 }}</span> <a href="{% url "auth:logout" %}" title="{% trans 'Вихід' %}"><i class="fa fa-sign-out"></i></a>
                        {% endif %}
                    {% else %}
                        <a href="{% url "auth:login" %}"><i class="fa fa-sign-in g-pr-5" aria-hidden="true"></i>{% trans 'Вхід' %}</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>