{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Повідомлення" %} - {% trans "Мій кабінет" %}{% endblock %}

{% block content %}

    {% include 'accounts/messages/_partials/breadcrumbs.html' %}

    <section class="container g-pt-70 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-lg-3 g-mb-50 g-mb-0--lg">
                <!-- Sidebar Navigation -->
                {% include 'accounts/_partials/sidebar.html' %}
                <!-- End Sidebar Navigation -->
            </div>

            <div class="col-md-9 g-mb-60">
                Системні повідомлення
            </div>
        </div>
    </section>

{% endblock %}