{% load i18n %}

<div class="list-group list-group-border-0 g-mb-40">
    <a href="{% url 'account:dashboard' %}"
       class="list-group-item list-group-item-action justify-content-between {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <span><i class="icon-cursor g-pos-rel g-top-1 g-mr-8"></i> {% trans "Загальна інформація" %}</span>
    </a>
    <a href="{% url 'account:account_balance' %}"
       class="list-group-item list-group-item-action justify-content-between {% if request.resolver_match.url_name == 'account_balance' %}active{% endif %}">
        <span><i class="icon-credit-card g-pos-rel g-top-1 g-mr-8"></i> {% trans "Мій рахунок (баланс)" %}</span>
    </a>
    <a href="{% url 'account:views_history' %}"
       class="list-group-item list-group-item-action justify-content-between {% if request.resolver_match.url_name == 'views_history' %}active{% endif %}">
        <span><i class="icon-eye g-pos-rel g-top-1 g-mr-8"></i> {% trans "Історія переглядів" %}</span>
    </a>
    <a href="{% url 'account:messages_list' %}"
       class="list-group-item list-group-item-action justify-content-between {% if request.resolver_match.url_name == 'messages_list' %}active{% endif %}">
        <span><i class="icon-envelope g-pos-rel g-top-1 g-mr-8"></i> {% trans "Повідомлення" %}</span>
    </a>
    <a href="{% url 'account:settings' %}"
       class="list-group-item list-group-item-action justify-content-between {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
        <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> {% trans "Налаштування" %}</span>
    </a>
    <a href="{% url 'auth:logout' %}"
       class="list-group-item list-group-item-action justify-content-between g-bg-gray-light-v5">
        <span class="g-font-weight-600"><i class="g-font-weight-600 icon-logout g-pos-rel g-top-1 g-mr-8"></i> {% trans "Вихід" %}</span>
    </a>
</div>