{% load i18n %}

<div class="g-font-weight-600 g-color-blue-dark-v1">
    {# Винаходи, корисні моделі (патенти) #}
    {% if hit.Document.idObjType == 1 or hit.Document.idObjType == 2 or hit.Document.idObjType == 6 %}
        {% if status == 'green' %}
            {% trans "Патент діє" %}<i class="fa fa-circle g-color-green g-ml-5"></i>
        {% elif status == 'red' %}
            {% trans "Патент не діє" %}<i class="fa fa-circle g-color-red g-ml-5"></i>
        {% elif status == 'yellow' %}
            <span title="{% trans "Дію патента припинено, але може бути поновлено" %}">{% trans "Дію припинено" %}<i class="fa fa-circle g-color-yellow g-ml-5"></i></span>
        {% else %}
            {% trans "Статус невідомий" %}<i class="fa fa-circle g-color-gray-light-v1 g-ml-5"></i>
        {% endif %}
    {# Товографії, знаки для товарів та послуг (свідоцтва) #}
    {% elif hit.Document.idObjType == 3 or hit.Document.idObjType == 4 %}
        {% if status == 'green' %}
            {% trans "Свідоцтво діє" %}<i class="fa fa-circle g-color-green g-ml-5"></i>
        {% elif status == 'red' %}
            {% trans "Свідоцтво не діє" %}<i class="fa fa-circle g-color-red g-ml-5"></i>
        {% elif status == 'yellow' %}
            <span title="{% trans "Дію свідоцтва припинено, але може бути поновлено" %}">{% trans "Дію припинено" %}<i class="fa fa-circle g-color-yellow g-ml-5"></i></span>
        {% else %}
            {% trans "Статус невідомий" %}<i class="fa fa-circle g-color-gray-light-v1 g-ml-5"></i>
        {% endif %}
    {% endif %}
</div>