{% extends "base.html" %}

{% block title %}Отримати оригінал документу{% endblock %}

{% block content %}

    {% include 'services/original_document/_partials/breadcrumbs.html' %}

    <section class="container g-pt-70 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-md-12 g-mb-60">
                <get-original-doc></get-original-doc>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
{% endblock %}

{% block extra_meta %}
    <meta name="site-key" content="{{ site_key }}">
{% endblock %}