{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Баланс рахунку" %} - {% trans "Мій кабінет" %}{% endblock %}

{% block content %}

    {% include 'accounts/account_balance/_partials/breadcrumbs.html' %}

    <section class="container g-pt-70 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-lg-3 g-mb-50 g-mb-0--lg">
                <!-- Sidebar Navigation -->
                {% include 'accounts/_partials/sidebar.html' %}
                <!-- End Sidebar Navigation -->
            </div>

            <div class="col-md-9 g-mb-60">
                <p class="lead g-font-weight-400 g-pr-10 g-mb-20">Поточний баланс рахунку: <span class="g-font-weight-600">{{ request.user.balance.value }} грн</span></p>

                <form method="post" class="form" id="account-balance-deposit-form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <div class="text-sm-right">
                        <button type="submit" class="btn u-btn-primary rounded-0 g-py-12 g-px-25"><i class="fa fa-dollar g-mr-5"></i>Поповнити</button>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </section>

{% endblock %}