{% load uma_extras %}

<div class="table-responsive">
    <table class="table table-bordered table-sm g-font-size-13">
        {% for transaction in hit.transactions %}
            <tr>
                <th class="g-px-10" width="20%">{{ transaction.PUBLICATIONNAME }}</th>
                <td>
                    {% if transaction.PUBLICATIONNAME == "Припинення дії свідоцтва на топографію ІМС у зв'язку із закінченням строку дії" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">Бюлетень:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.CERTIFICATENUMBER %}
                                <li><span class="g-font-weight-600">Номер свідоцтва:</span> {{ transaction.CERTIFICATENUMBER }}</li>
                            {% endif %}

                            {% if transaction.IMCINPUTNUMBER %}
                                <li><span class="g-font-weight-600">Номер заявки:</span> {{ transaction.IMCINPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.IMCDATEFACTSTOP %}
                                <li><span class="g-font-weight-600">Дата припинення дії:</span> {{ transaction.IMCDATEFACTSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}
                        </ul>
                    {% else %}
                        {{ transaction }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>