{% load uma_extras %}
{% load search_extras %}
{% load i18n %}

<div id="biblio-data">
    {% if hit.search_data.obj_state == 1 and hit.Document.idObjType == 1 %}
        <div class="g-pb-20 d-flex justify-content-between">
            {% if hit.Claim and hit.Claim|get:'I_43.D' %}
                <div>
                    {% trans "Опубліковано" %} <span
                        class="g-font-weight-600">{{ hit.Claim|get:'I_43.D'|last|parse_date|date:"d.m.Y" }}</span>,
                    {% trans "бюл." %} № <span
                        class="g-font-weight-600">{{ hit.Claim.I_43_bul_str }}</span>
                </div>
            {% endif %}
        </div>
    {% elif hit.Patent and hit.Patent|get:'I_45.D' %}
        <div class="g-pb-20 d-flex justify-content-between">
            <div>
                {% trans "Опубліковано" %} <span
                    class="g-font-weight-600">{{ hit.Patent|get:'I_45.D'|last|parse_date|date:"d.m.Y" }}</span>,
                {% trans "бюл." %} № <span
                    class="g-font-weight-600">{{ hit.Patent.I_45_bul_str }}</span>
            </div>
        </div>
    {% endif %}

    {% if hit.search_data.obj_state == 2 %}
        <div class="g-pb-10 d-flex justify-content-end">
            {% registration_status hit=hit %}
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-sm table-biblio g-font-size-13">
            <tbody>

            {% get_field '11' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_11 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.biblio_data.I_11 }}</td>
                </tr>
            {% endif %}

            {% get_field '13' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_13 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.biblio_data.I_13 }}</td>
                </tr>
            {% endif %}

            {% get_field '19' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_19 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.biblio_data.I_19 }}</td>
                </tr>
            {% endif %}

            {% get_field '21' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_21 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.biblio_data.I_21 }}</td>
                </tr>
            {% endif %}

            {% get_field '22' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_22 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.biblio_data.I_22|parse_date|date:"d.m.Y" }}</td>
                </tr>
            {% endif %}

            {% get_field '24' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_24 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.biblio_data.I_24|parse_date|date:"d.m.Y" }}</td>
                </tr>
            {% endif %}

            {% if hit.biblio_data.I_30 %}
                {% get_field '31' ipc_fields as ipc_field_31 %}
                {% get_field '32' ipc_fields as ipc_field_32 %}
                {% get_field '33' ipc_fields as ipc_field_33 %}
                {% if ipc_field_31.enable_view and hit.biblio_data.I_30 %}
                    <tr>
                        <th>{{ ipc_field_31.code_title }}</th>
                        <td>
                            {% for I_30 in hit.biblio_data.I_30 %}
                                {{ I_30.I_31 }}
                                {% if ipc_field_33.enable_view and I_30.I_33 %}
                                    <span title="{{ ipc_field_33.code_title }}">{{ I_30.I_33 }}</span>
                                {% endif %}
                                {% if ipc_field_32.enable_view and I_30.I_32 %}
                                    <span title="{{ ipc_field_32.code_title }}">({{ I_30.I_32|parse_date|date:"d.m.Y" }})</span>
                                {% endif %}
                                {% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {% get_field '41' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data|get:'I_43.D' %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% for I_43 in hit.biblio_data|get:'I_43.D' %}
                            {{ I_43|parse_date|date:"d.m.Y" }}, {% trans 'бюл. №' %}&nbsp;{% bulletin_number_with_year_by_date I_43 %}
                            {% if not forloop.last %};<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '46' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data|get:'I_45.D' %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% for I_45 in hit.biblio_data|get:'I_45.D' %}
                            {{ I_45|parse_date|date:"d.m.Y" }}, {% trans 'бюл. №' %}&nbsp;{% bulletin_number_with_year_by_date I_45 %}
                            {% if not forloop.last %};<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '51' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="i_51">
                        {% for IPC in hit.biblio_data.IPC %}
                            <span class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                                {{ IPC }}
                                {% if forloop.counter == 2 and not forloop.last %}
                                    <a href="#"
                                             class="show-all g-font-size-12"
                                             title="{% trans "Показати всі" %}"
                                ><i class="fa fa-plus"></i></a>
                                {% endif %}
                                {% if not forloop.last %}<br>{% endif %}
                            </span>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '54' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_54 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% for I_54 in hit.biblio_data.I_54 %}
                            {% if I_54|get:'I_54.U' %}
                                {{ I_54|get:'I_54.U'|safe }} [UA]
                            {% endif %}
                            {% if I_54|get:'I_54.R' %}
                                {{ I_54|get:'I_54.R'|safe }} [RU]
                            {% endif %}
                            {% if I_54|get:'I_54.E' %}
                                {{ I_54|get:'I_54.E'|safe }} [EN]
                            {% endif %}
                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '56.A' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_56 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        <ul class="g-pl-15 g-mb-0 i_56">
                            {% for I_56 in hit.biblio_data.I_56 %}
                                <li class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                                    {{ I_56|get:"I_56.A" }}
                                    {% if forloop.counter == 2 and not forloop.last %}
                                        &nbsp;<a href="#"
                                                 class="show-all g-font-size-12"
                                                 title="{% trans "Показати всі" %}"
                                    ><i class="fa fa-plus"></i></a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}

            {# (85) Дата входження до національної фази #}
            {% get_field '85' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_85 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.biblio_data.I_85|parse_date|date:"d.m.Y" }}</td>
                </tr>
            {% endif %}

            {# (86) Номер заявки РСТ #}
            {% get_field '86.N' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_86 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% for I_86 in hit.biblio_data|get:'I_86' %}
                            {{ I_86|get:'I_86.N' }}, {{ I_86|get:'I_86.D'|parse_date|date:"d.m.Y" }}{% if not forloop.last %};<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if hit.biblio_data.i_62 %}
                {% for i_62 in hit.biblio_data.i_62 %}
                    {% get_field '62.N' ipc_fields as ipc_field %}
                    {% if ipc_field.enable_view and i_62|get:"I_62.N" %}
                        <tr>
                            <th>{{ ipc_field.code_title }}</th>
                            <td>{{ i_62|get:"I_62.N" }}</td>
                        </tr>
                    {% endif %}

                    {% get_field '62.D' ipc_fields as ipc_field %}
                    {% if ipc_field.enable_view and i_62|get:"I_62.D" %}
                        <tr>
                            <th>{{ ipc_field.code_title }}</th>
                            <td>{{ i_62|get:"I_62.D" }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% get_field '71' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view %}
                {% if hit.Document.is_limited and not hit.biblio_data.I_71 %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td><span class="g-color-red">*</span></td>
                    </tr>
                {% elif hit.biblio_data.I_71 %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td class="i_71">
                            {% for I_71_ in hit.biblio_data.I_71|list_of_dicts_unique %}
                                <span class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                                    {{ I_71_|get_person_name }} [{{ I_71_|get_person_country }}]
                                    {% if forloop.counter == 2 and not forloop.last %}
                                        &nbsp;<a href="#"
                                                 class="show-all g-font-size-12"
                                                 title="{% trans "Показати всі" %}"
                                    ><i class="fa fa-plus"></i></a>
                                    {% endif %}
                                    {% if not forloop.last %}<br>{% endif %}
                                </span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {% get_field '72' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view %}
                {% if hit.Document.is_limited and not hit.biblio_data.I_72 %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td><span class="g-color-red">*</span></td>
                    </tr>
                {% elif hit.biblio_data.I_72 %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td class="i_72">
                            {% for I_72_ in hit.biblio_data.I_72|list_of_dicts_unique %}
                                <span class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                                    {{ I_72_|get_person_name }} [{{ I_72_|get_person_country }}]
                                    {% if forloop.counter == 2 and not forloop.last %}
                                        &nbsp;<a href="#"
                                                 class="show-all g-font-size-12"
                                                 title="{% trans "Показати всі" %}"
                                    ><i class="fa fa-plus"></i></a>
                                    {% endif %}
                                    {% if not forloop.last %}<br>{% endif %}
                                </span>

                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {% get_field '73' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view %}
                {% if hit.Document.is_limited and not hit.biblio_data.I_73 %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td><span class="g-color-red">*</span></td>
                    </tr>
                {% elif hit.biblio_data.I_73 %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td class="i_73">
                            {% for I_73_ in hit.biblio_data.I_73|list_of_dicts_unique %}
                                <span class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                                    {{ I_73_|get_person_name }} [{{ I_73_|get_person_country }}]
                                    {% if forloop.counter == 2 and not forloop.last %}
                                        &nbsp;<a href="#"
                                                 class="show-all g-font-size-12"
                                                 title="{% trans "Показати всі" %}"
                                    ><i class="fa fa-plus"></i></a>
                                    {% endif %}
                                    {% if not forloop.last %}<br>{% endif %}
                                </span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {% get_field '74' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.biblio_data.I_74 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.biblio_data.I_74 }}</td>
                </tr>
            {% endif %}

            {% get_field '98' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view %}
                {% if hit.Document.is_limited and not hit.biblio_data.I_98 %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td><span class="g-color-red">*</span></td>
                    </tr>
                {% elif hit.biblio_data.I_98 %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td>{{ hit.biblio_data.I_98 }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            </tbody>
        </table>

        {% if hit.Document.is_limited %}
            <hr class="g-mb-10">
            <p><span class="g-color-red">*</span> - <i>{% trans "інформація тимчасово обмежена" %}</i></p>
        {% endif %}
    </div>
</div>