{% load uma_extras %}
{% load search_extras %}
{% load i18n %}

<div id="biblio-data">
    {% if hit.search_data.obj_state == 2 %}
        <div class="g-pb-20 d-flex justify-content-between">
            {% if hit.TradeMark.TrademarkDetails.PublicationDetails.Publication %}
                <div>
                    {% trans "Опубліковано" %} <span
                        class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.PublicationDetails.Publication.PublicationDate }}</span>,
                    {% trans "бюл." %} № <span
                        class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.PublicationDetails.Publication.PublicationIdentifier }}</span>
                </div>
            {% elif hit.TradeMark.TrademarkDetails.PublicationDetails|length > 0 %}
                <div>
                    {% trans "Опубліковано" %} <span
                        class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.PublicationDetails.0.PublicationDate|parse_date|date:"d.m.Y" }}</span>,
                    {% trans "бюл." %} № <span
                        class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.PublicationDetails.0.PublicationIdentifier }}</span>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if hit.search_data.obj_state == 2 %}
        <div class="g-pb-10 d-flex justify-content-end">
            {% registration_status hit=hit %}
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-sm table-trade-mark g-font-size-13">
            <tbody>
            {% if hit.TradeMark.TrademarkDetails.app_input_date %}
                <tr>
                    <th>{% trans "Дата надходження матеріалів заявки до НОІВ" %}</th>
                    <td>{{ hit.TradeMark.TrademarkDetails.app_input_date|parse_date|date:"d.m.Y" }}</td>
                </tr>
            {% endif %}

            {% get_field '111' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.ApplicationNumber %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="g-font-weight-600 g-font-size-16">{{ hit.TradeMark.TrademarkDetails.RegistrationNumber }}</td>
                </tr>
            {% endif %}

            {% get_field '151' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.RegistrationDate %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.RegistrationDate|parse_date|date:"d.m.Y" }}</td>
                </tr>
            {% endif %}

            {% registration_status_color hit=hit as registration_status_color %}
            {% if registration_status_color != 'red' %}
                {% get_field '181' ipc_fields as ipc_field %}
                {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.ExpiryDate %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.ExpiryDate|parse_date|date:"d.m.Y" }}</td>
                    </tr>
                {% endif %}
            {% else %}
                {% get_field '186' ipc_fields as ipc_field %}
                {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.ExpiryDate %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.TradeMark.TrademarkDetails.ExpiryDate|parse_date|date:"d.m.Y" }}</td>
                </tr>
                {% endif %}
            {% endif %}

            {% get_field '141' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.TerminationDate %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="g-font-weight-600">
                        {{ hit.TradeMark.TrademarkDetails.TerminationDate|parse_date|date:"d.m.Y" }}
                        {% if hit.search_data.registration_status_color == 'green' %}({% trans 'частково' %}){% endif %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '186' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.ProlonagationExpiryDate %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.ProlonagationExpiryDate|parse_date|date:"d.m.Y" }}</td>
                </tr>
            {% endif %}

            {% get_field '210' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.ApplicationNumber %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.ApplicationNumber }}</td>
                </tr>
            {% endif %}


            {% get_field '220' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.search_data.app_date %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="g-font-weight-600">{{ hit.search_data.app_date|parse_date|date:"d.m.Y" }}</td>
                </tr>
            {% endif %}


            {% get_field '230.C' ipc_fields as ipc_field_230_c %}
            {% get_field '230.D' ipc_fields as ipc_field_230_d %}
            {% if ipc_field_230_c.enable_view or ipc_field_230_d.enable_view %}
                {% if hit.TradeMark.TrademarkDetails.ExhibitionPriorityDetails.ExhibitionPriority %}
                    <tr>
                        <th>
                            {% if ipc_field_230_d.enable_view %}
                                {{ ipc_field_230_d.code_title }}
                            {% else %}
                                {{ ipc_field_230_d.code_title }}
                            {% endif %}
                        </th>
                        <td>
                            {% for item in hit.TradeMark.TrademarkDetails.ExhibitionPriorityDetails.ExhibitionPriority %}
                                {% if ipc_field_230_d.enable_view %}{{ item.ExhibitionDate }}{% endif %}<!--
                                -->{% if ipc_field_230_c.enable_view and item.ExhibitionCountryCode %}<!--
                                    -->{% if ipc_field_230_d.enable_view %},&nbsp;{% endif %}<!--
                                    -->{{ item.ExhibitionCountryCode }}
                                   {% endif %}

                                {% if item.ExhibitionPartialGoodsServices.ClassDescriptionDetails.ClassDescription.ClassDescriptionDetails.ClassDescription %}
                                    <br>{% trans 'Кл.:' %}
                                {% endif %}

                                {% for class in item.ExhibitionPartialGoodsServices.ClassDescriptionDetails.ClassDescription.ClassDescriptionDetails.ClassDescription %}
                                    {{ class.ClassNumber }}{% if not forloop.last %},{% endif %}
                                {% endfor %}

                                {% if item.ExhibitionPartialGoodsServices.ClassDescriptionDetails.ClassDescription.ClassDescriptionDetails.ClassDescription %}<br>{% endif %}

                                {% for class in item.ExhibitionPartialGoodsServices.ClassDescriptionDetails.ClassDescription.ClassDescriptionDetails.ClassDescription %}
                                    {{ class.ClassNumber }} - {% for class_el in class.ClassificationTermDetails.ClassificationTerm %}{{ class_el.ClassificationTermText }}{% endfor %}
                                    {% if not forloop.last %}<br>{% endif %}
                                {% endfor %}

                                {% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

            {% get_field '300' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.PriorityDetails.Priority %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% for item in hit.TradeMark.TrademarkDetails.PriorityDetails.Priority %}
                            {% if item.PriorityNumber %}{{ item.PriorityNumber }};{% endif %}
                            {% if item.PriorityDate %}{{ item.PriorityDate }};{% endif %}
                            {% if item.PriorityCountryCode %}{{ item.PriorityCountryCode }}{% endif %}

                            {% if item.PriorityPartialGoodsServices.ClassDescriptionDetails.ClassDescription.ClassDescriptionDetails.ClassDescription %}
                                <br>{% trans 'Кл.:' %}
                            {% endif %}

                            {% for class in item.PriorityPartialGoodsServices.ClassDescriptionDetails.ClassDescription.ClassDescriptionDetails.ClassDescription %}
                                {{ class.ClassNumber }}{% if not forloop.last %},{% endif %}
                            {% endfor %}

                            {% if item.PriorityPartialGoodsServices.ClassDescriptionDetails.ClassDescription.ClassDescriptionDetails.ClassDescription %}
                                <br>
                            {% endif %}

                            {% for class in item.PriorityPartialGoodsServices.ClassDescriptionDetails.ClassDescription.ClassDescriptionDetails.ClassDescription %}
                                {{ class.ClassNumber }} - {% for class_el in class.ClassificationTermDetails.ClassificationTerm %}{{ class_el.ClassificationTermText }}{% endfor %}
                                {% if not forloop.last %}<br>{% endif %}
                            {% endfor %}

                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '310' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.PriorityDetails.Priority %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% for item in hit.TradeMark.TrademarkDetails.PriorityDetails.Priority %}
                            {% if item.PriorityNumber %}
                                {{ item.PriorityNumber }}{% if not forloop.last %};&nbsp;{% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '320' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.PriorityDetails.Priority %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% for item in hit.TradeMark.TrademarkDetails.PriorityDetails.Priority %}
                            {% if item.PriorityDate %}
                                {{ item.PriorityDate }}{% if not forloop.last %};&nbsp;{% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '330' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.PriorityDetails.Priority %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% for item in hit.TradeMark.TrademarkDetails.PriorityDetails.Priority %}
                            {% if item.PriorityCountryCode %}
                                {{ item.PriorityCountryCode }}{% if not forloop.last %};&nbsp;{% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '441' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.Code_441 %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="g-font-weight-600">
                        {{ hit.TradeMark.TrademarkDetails.Code_441|parse_date|date:"d.m.Y" }},&nbsp;{% trans 'бюл. №' %}
                        {% if hit.TradeMark.TrademarkDetails.Code_441_BulNumber %}
                            {{ hit.TradeMark.TrademarkDetails.Code_441_BulNumber }}
                        {% else %}
                            {% bulletin_number_by_date hit.TradeMark.TrademarkDetails.Code_441 as bul_num %}
                            {% if bul_num %}{{ bul_num }}{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '531' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.MarkImageDetails.MarkImage.MarkImageCategory.CategoryCodeDetails.CategoryCode %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.TradeMark.TrademarkDetails.MarkImageDetails.MarkImage.MarkImageCategory.CategoryCodeDetails.CategoryCode|join:"<br>" }}</td>
                </tr>
            {% endif %}

            {% get_field '731' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.ApplicantDetails.Applicant %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="text-justify">
                        {% for applicant in hit.TradeMark.TrademarkDetails.ApplicantDetails.Applicant %}
                            {{ applicant.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}
                            {% if applicant.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLineOriginal %}
                                <br>{{ applicant.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLineOriginal }}
                            {% endif %}
                            {% if hit.search_data.obj_state == 2 %}
                                <br>
                                {{ applicant.ApplicantAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLine }}
                                {% if applicant.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode %}
                                    [{{ applicant.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]
                                {% endif %}
                                {% if applicant.ApplicantAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLineOriginal %}
                                    <br>{{ applicant.ApplicantAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLineOriginal }}
                                    {% if applicant.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode %}
                                        [{{ applicant.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if not forloop.last %};<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '732' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.ApplicantDetails.Applicant %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="text-justify g-font-weight-600">
                        {% for holder in hit.TradeMark.TrademarkDetails.HolderDetails.Holder %}
                            {{ holder.HolderAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}
                            {% if holder.HolderAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLineOriginal %}
                                <br>{{ holder.HolderAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLineOriginal }}
                            {% endif %}
                            <br>
                            {{ holder.HolderAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLine }}
                            {% if holder.HolderAddressBook.FormattedNameAddress.Address.AddressCountryCode %}
                                [{{ holder.HolderAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]
                            {% endif %}

                            {% if holder.HolderAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLineOriginal %}
                                <br>{{ holder.HolderAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLineOriginal }}
                                {% if holder.HolderAddressBook.FormattedNameAddress.Address.AddressCountryCode %}
                                    [{{ holder.HolderAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]
                                {% endif %}
                            {% endif %}
                            {% if not forloop.last %};<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '740' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.RepresentativeDetails.Representative %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="text-justify">
                        {% for representative in hit.TradeMark.TrademarkDetails.RepresentativeDetails.Representative %}
                            {{ representative.RepresentativeAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameDetails.FreeFormatNameLine }}
                            <br>
                            {{ representative.RepresentativeAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLine }}
                            {% if representative.RepresentativeAddressBook.FormattedNameAddress.Address.AddressCountryCode %}
                                [{{ representative.RepresentativeAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]
                            {% endif %}
                            {% if not forloop.last %};<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '750' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.CorrespondenceAddress %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td class="text-justify">
                        {% if hit.TradeMark.TrademarkDetails.CorrespondenceAddress.Name.FreeFormatNameLine %}
                            {{ hit.TradeMark.TrademarkDetails.CorrespondenceAddress.Name.FreeFormatNameLine }}
                        {% elif hit.TradeMark.TrademarkDetails.CorrespondenceAddress.CorrespondenceAddressBook.Name.FreeFormatNameLine %}
                            {{ hit.TradeMark.TrademarkDetails.CorrespondenceAddress.CorrespondenceAddressBook.Name.FreeFormatNameLine }}
                        {% endif %}

                        {% if hit.TradeMark.TrademarkDetails.CorrespondenceAddress.Address.FreeFormatAddressLine %}
                            <br>{{ hit.TradeMark.TrademarkDetails.CorrespondenceAddress.Address.FreeFormatAddressLine }}
                        {% elif hit.TradeMark.TrademarkDetails.CorrespondenceAddress.CorrespondenceAddressBook.Address.FreeFormatAddressLine %}
                            <br>{{ hit.TradeMark.TrademarkDetails.CorrespondenceAddress.CorrespondenceAddressBook.Address.FreeFormatAddressLine }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '540' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.MarkImageDetails.MarkImage.MarkImageFilename %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_8--hover--after g-transition-0_3"
                           href="javascript:;"
                           data-src="{{ hit.Document.filesPath|get_image_url:hit.TradeMark.TrademarkDetails.MarkImageDetails.MarkImage.MarkImageFilename }}">
                            <img class="img-fluid img-thumbnail"
                                 src="{{ hit.Document.filesPath|get_image_url:hit.TradeMark.TrademarkDetails.MarkImageDetails.MarkImage.MarkImageFilename }}"
                                 alt="">

                            <span class="u-block-hover__additional--fade g-color-white g-z-index-2">
                            <i class="hs-icon hs-icon-magnifier g-absolute-centered g-font-size-25"></i>
                        </span>
                        </a>
                    </td>
                </tr>
            {% endif %}

            {% get_field '554' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.MarkFeature == '3-D' %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% trans 'Так' %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '526' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.Declamation %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>{{ hit.TradeMark.TrademarkDetails.Declamation }}</td>
                </tr>
            {% endif %}

            {% get_field '556' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.MarkFeature == 'Sound' %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% trans 'Так' %}
                    </td>
                </tr>
            {% endif %}

            {% get_field '591' ipc_fields as ipc_field %}
                {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.MarkImageDetails.MarkImage.MarkImageColourClaimedText|length > 0 %}
                    <tr>
                        <th>{{ ipc_field.code_title }}</th>
                        <td>
                            {% for color in hit.TradeMark.TrademarkDetails.MarkImageDetails.MarkImage.MarkImageColourClaimedText %}
                                {{ color|get:"#text" }}{% if not forloop.last %};{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}

            {% get_field '511.I' ipc_fields as ipc_field %}
            {% if ipc_field.enable_view and hit.TradeMark.TrademarkDetails.GoodsServicesDetails.GoodsServices.ClassDescriptionDetails.ClassDescription %}
                <tr>
                    <th>{{ ipc_field.code_title }}</th>
                    <td>
                        {% for cls in hit.TradeMark.TrademarkDetails.GoodsServicesDetails.GoodsServices.ClassDescriptionDetails.ClassDescription %}
                            <div class="d-flex justify-content-start">
                                <div class="g-pr-6 text-nowrap">Кл. {{ cls.ClassNumber }}:</div>
                                <div class="text-justify mktp-indexes">
                                <span class="more hidden">
                                    {% for term in cls.ClassificationTermDetails.ClassificationTerm %}
                                        {{ term.ClassificationTermText }}{% if not forloop.last and term.ClassificationTermText|default:""|slice:"-1:" != "," %};{% endif %}
                                    {% endfor %}
                                </span>
                                    <a href="#"
                                       class="show-indexes g-font-size-12"
                                       title="{% trans "Показати" %}"
                                    ><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>