{% load i18n %}
{% load uma_extras %}

<div class="row">
    <div class="col-md-12 g-mb-40">
        <!-- Striped Rows -->
        <div class="card g-brd-primary rounded-0">
            <h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
                <i class="fa fa-list g-mr-5"></i>
                {% trans "Документи" %}
            </h3>

            <div class="table-responsive">
                <form action="{% url "search:download_docs_zipped" %}" method="post" id="documents-form">
                    {% csrf_token %}
                    <input type="hidden" name="id_app_number" value="{{ hit.id_app_number }}">
                    <table class="table table-striped table-bordered u-table--v1 mb-0">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="select-all-documents"></th>
                            <th>#</th>
                            <th class="text-nowrap text-center">{% trans "Дата реєстрації" %}</th>
                            <th class="text-nowrap text-center">{% trans "Дата відправки" %}</th>
                            <th class="text-nowrap text-center">{% trans "Назва документа" %}</th>
                            <th class="text-nowrap text-center">{% trans "Реєстраційний номер" %}</th>
                            <th class="text-nowrap text-center">{% trans "Дії" %}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for doc in hit.DOCFLOW.DOCUMENTS %}
                            <tr>
                                <td>
                                    {% if doc.DOCRECORD.DOCIDDOCCEAD %}
                                        <input type="checkbox" name="cead_id" value="{{ doc.DOCRECORD.DOCIDDOCCEAD }}">
                                    {% endif %}
                                </td>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td class="text-center">
                                    {% if doc.DOCRECORD.DOCREGDATE %}
                                        {{ doc.DOCRECORD.DOCREGDATE|parse_date|date:"d.m.Y" }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if doc.DOCRECORD.DOCSENDINGDATE %}
                                        {{ doc.DOCRECORD.DOCSENDINGDATE|parse_date|date:"d.m.Y" }}
                                    {% endif %}
                                </td>
                                <td>{{ doc.DOCRECORD.DOCTYPE }}</td>
                                <td class="text-center">
                                    {% if doc.DOCRECORD.DOCREGNUMBER %}
                                        {{ doc.DOCRECORD.DOCREGNUMBER }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if doc.DOCRECORD.DOCIDDOCCEAD %}
                                        <button class="btn btn-xs btn-primary download-doc"
                                                title="{% trans "Сформувати посилання для завантаження" %}"
                                                data-task-create-url="{% url 'search:download_doc' id_app_number=hit.id_app_number id_cead_doc=doc.DOCRECORD.DOCIDDOCCEAD %}"
                                        ><i class="fa fa-download"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="7" class="g-bg-white">
                                {% if hit.DOCFLOW.DOCUMENTS|length > 0 %}
                                    <button class="btn btn-primary"
                                            type="submit"><i
                                            class="fa fa-download"></i>&nbsp;{% trans "Завантажити обрані" %}</button>
                                {% else %}
                                    {% trans "Документи відсутні" %}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <!-- End Striped Rows -->
    </div>
</div>