{% load i18n %}
{% load uma_extras %}
{% load search_extras %}

<div class="row">
    <div class="col-md-12 g-mb-40">
        <!-- Striped Rows -->
        <div class="card g-brd-primary rounded-0">
            <h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
                <i class="fa fa-list g-mr-5"></i>
                {% trans "Документи" %}
            </h3>

            <div class="table-responsive">
                <table class="table table-striped table-bordered u-table--v1 mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-nowrap text-center">{% trans "Дата реєстрації" %}</th>
                        <th class="text-nowrap text-center">{% trans "Дата відправки" %}</th>
                        <th class="text-nowrap text-center">{% trans "Назва документа" %}</th>
                        <th class="text-nowrap text-center">{% trans "Реєстраційний номер" %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for doc in hit.DOCFLOW.DOCUMENTS|filter_bad_documents %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td class="text-center">
                                {% if doc.DOCRECORD.DOCREGDATE %}
                                    {{ doc.DOCRECORD.DOCREGDATE|parse_date|date:"d.m.Y" }}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if doc.DOCRECORD.DOCSENDINGDATE %}
                                    {{ doc.DOCRECORD.DOCSENDINGDATE|parse_date|date:"d.m.Y" }}
                                {% endif %}
                            </td>
                            <td>
                                {% if doc.DOCRECORD.DOCTYPE %}
                                    {{ doc.DOCRECORD.DOCTYPE }}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if doc.DOCRECORD.DOCREGNUMBER %}
                                    {{ doc.DOCRECORD.DOCREGNUMBER }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Striped Rows -->
    </div>
</div>