{% load staticfiles %}

<section
        class="gradient g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_1--after g-color-white g-py-50"
        style="background-image: url({% static 'img/bg/bg-1.jpg' %});">
    <div class="container g-bg-cover__inner">
        <div class="d-sm-flex text-center">
            <div class="align-self-center">
                <h1 class="h2 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Про сервіс</h1>
            </div>

            <div class="align-self-center ml-auto">
                <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-5">
                        <a class="u-link-v5 g-color-white g-color-primary--hover" href="/">Головна</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-color-white-opacity-0_7">
                        <span>Про сервіс</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>