{% load uma_extras %}
{% load search_extras %}
{% load i18n %}

<div class="table-responsive">
    <table class="table table-sm table-trade-mark g-font-size-13">
        <tbody>
        {% if hit.Design.DesignDetails.IndicationProductDetails %}
            <tr>
                <th>(51) {% trans "Індекс (індекси) Міжнародної класифікації промислових зразків" %}</th>
                <td class="g-font-weight-600">
                    {% for i in hit.Design.DesignDetails.IndicationProductDetails %}
                        <span class="g-font-weight-600">{{ i.Class }}{% if not forloop.last %};&nbsp;{% endif %}</span>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if hit.search_data.obj_state == 2 and hit.Design.DesignDetails.RegistrationNumber %}
            <tr>
                <th>(11) {% trans "Номер реєстрації, який є номером патенту" %}</th>
                <td class="g-font-weight-600 g-font-size-16">{{ hit.Design.DesignDetails.RegistrationNumber }}</td>
            </tr>
        {% endif %}

        {% if hit.search_data.obj_state == 2 and  hit.Design.DesignDetails.RecordEffectiveDate %}
            <tr>
                <th>(24) {% trans "Дата, з якої є чинними права на промисловий зразок" %}</th>
                <td class="g-font-weight-600">{{ hit.Design.DesignDetails.RecordEffectiveDate|parse_date|date:"d.m.Y" }}</td>
            </tr>
        {% endif %}

        {% if hit.Design.DesignDetails.DesignApplicationNumber %}
            <tr>
                <th>(21) {% trans "Номер заявки" %}</th>
                <td class="g-font-weight-600">{{ hit.Design.DesignDetails.DesignApplicationNumber }}</td>
            </tr>
        {% endif %}

        {% if hit.Design.DesignDetails.DesignApplicationDate %}
            <tr>
                <th>(22) {% trans "Дата подання заявки" %}</th>
                <td class="g-font-weight-600">{{ hit.Design.DesignDetails.DesignApplicationDate|parse_date|date:"d.m.Y" }}</td>
            </tr>
        {% endif %}

        {% if hit.Design.DesignDetails.PriorityDetails.PriorityNumber %}
            <tr>
                <th>(31) {% trans "Номер попередньої заявки відповідно до Паризької конвенції" %}</th>
                <td class="g-font-weight-600">{{ hit.Design.DesignDetails.PriorityDetails.PriorityNumber }}</td>
            </tr>
        {% endif %}

        {% if hit.Design.DesignDetails.PriorityDetails.PriorityDate %}
            <tr>
                <th>(32) {% trans "Дата подання попередньої заявки відповідно до Паризької конвенції" %}</th>
                <td class="g-font-weight-600">{{ hit.Design.DesignDetails.PriorityDetails.PriorityDate|parse_date|date:"d.m.Y" }}</td>
            </tr>
        {% endif %}

        {% if hit.Design.DesignDetails.PriorityDetails.PriorityCountryCode %}
            <tr>
                <th>
                    (33) {% trans "Двобуквений код держави - учасниці Паризької конвенції чи регіональної організації, до якої подана попередня, відповідно до стандарту BOIB ST.3" %}</th>
                <td class="g-font-weight-600">{{ hit.Design.DesignDetails.PriorityDetails.PriorityCountryCode }}</td>
            </tr>
        {% endif %}

        {% if hit.Design.DesignDetails.DesignTitle %}
            <tr>
                <th>(54) {% trans "Назва промислового зразка" %}</th>
                <td class="g-font-weight-600">{{ hit.Design.DesignDetails.DesignTitle }}</td>
            </tr>
        {% endif %}

        {% if hit.Design.DesignDetails.ApplicantDetails.Applicant %}
            <tr>
                <th>(71) Ім'я або повне найменування та адреса заявника (заявників)</th>
                <td class="text-justify">
                    {% for applicant in hit.Design.DesignDetails.ApplicantDetails.Applicant %}
                        {{ applicant.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}
                        {% if hit.search_data.obj_state == 2 %}
                            <br>
                            {{ applicant.ApplicantAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLine }}
                        {% endif %}
                        {% if not forloop.last %};<br>{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if hit.search_data.obj_state == 2 and hit.Design.DesignDetails.DesignerDetails.Designer %}
            <tr>
                <th>(72) Ім'я автора (авторів)</th>
                <td class="text-justify">
                    {% for designer in hit.Design.DesignDetails.DesignerDetails.Designer %}
                        {{ designer.DesignerAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}
                        ({{ designer.DesignerAddressBook.FormattedNameAddress.Address.AddressCountryCode }})
                        {% if not forloop.last %};<br>{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if hit.search_data.obj_state == 2 and hit.Design.DesignDetails.HolderDetails.Holder %}
            <tr>
                <th>(73) Ім'я або повне найменування власника (власників) патенту, його адресу та двобуквений код
                    держави відповідно до стандарту BOIB ST.3
                </th>
                <td class="text-justify g-font-weight-600">
                    {% for holder in hit.Design.DesignDetails.HolderDetails.Holder %}
                        {{ holder.HolderAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}
                        <br>
                        {{ holder.HolderAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLine }}
                        <br>({{ holder.HolderAddressBook.FormattedNameAddress.Address.AddressCountryCode }})
                        {% if not forloop.last %};<br>{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if hit.search_data.obj_state == 2 and hit.Design.DesignDetails.RepresentativeDetails.Representative %}
            <tr>
                <th>(74) Ім'я та реєстраційний номер представника у справах інтелектуальної власності (патентного
                    повіреного) або ім'я (повне найменування) іншої довіреної особи
                </th>
                <td class="text-justify">
                    {% for representative in hit.Design.DesignDetails.RepresentativeDetails.Representative %}
                        {{ representative.RepresentativeAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameDetails.FreeFormatNameLine }}
                        <br>
                        {{ representative.RepresentativeAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLine }}
                        {% if not forloop.last %};<br>{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if hit.search_data.obj_state == 2 and hit.Design.DesignDetails.CorrespondenceAddress %}
            <tr>
                <th>(98) Адреса для листування</th>
                <td class="text-justify">
                    {{ hit.Design.DesignDetails.CorrespondenceAddress.CorrespondenceAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}
                    <br>{{ hit.Design.DesignDetails.CorrespondenceAddress.CorrespondenceAddressBook.FormattedNameAddress.Address.FreeFormatAddress.FreeFormatAddressLine }}
                    <br>({{ hit.Design.DesignDetails.CorrespondenceAddress.CorrespondenceAddressBook.FormattedNameAddress.Address.FormattedAddress.FormattedAddressCountryCode }})
                </td>
            </tr>
        {% endif %}

        {% if hit.Design.DesignDetails.TotalSpecimen %}
            <tr>
                <th>(28) Кількість заявлених варіантів</th>
                <td class="text-justify">
                    {{ hit.Design.DesignDetails.TotalSpecimen }}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<!-- End Basic Table -->

{% if hit.Design.DesignDetails.DesignSpecimenDetails %}
    <div class="row text-center g-mt-20">
        {% for design_specimen_details in hit.Design.DesignDetails.DesignSpecimenDetails %}
            {% for image in design_specimen_details.DesignSpecimen %}
                <div class="col-md-4 g-mb-30--md">
                    <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_5--after"
                       href="javascript:;"
                       data-fancybox="lightbox-gallery-13-1-hidden"
                       data-src="{{ hit.Document.filesPath|get_image_url:image.SpecimenFilename }}">
                      <img class="img-fluid u-block-hover__main--zoom-v1" src="{{ hit.Document.filesPath|get_image_url:image.SpecimenFilename }}" alt="">
                      <strong class="h5 d-block w-100 u-bg-overlay__inner g-absolute-centered g-px-20 g-font-weight-400 g-color-white g-mt-10"> {{ forloop.parentloop.counter }}.{{ forloop.counter }} </strong>
                    </a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
