{% load i18n %}

<h3 class="h4 mb-4">{% trans "Адміністратор бази даних" %}</h3>

<div class="mb-4">
    <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">E-Mail:</h2>
    {% if data.admin_email_1 %}
        <p class="g-color-gray-dark-v4 g-mb-0">Email: <a class="g-color-gray-dark-v2" href="mailto:{{ data.admin_email_1 }}">{{ data.admin_email_1 }}</a></p>
    {% endif %}
    {% if data.admin_email_2 %}
        <p class="g-color-gray-dark-v4 g-mb-0">Email: <a class="g-color-gray-dark-v2" href="mailto:{{ data.admin_email_2 }}">{{ data.admin_email_2 }}</a></p>
    {% endif %}
    {% if data.admin_email_3 %}
        <p class="g-color-gray-dark-v4 g-mb-0">Email: <a class="g-color-gray-dark-v2" href="mailto:{{ data.admin_email_3 }}">{{ data.admin_email_3 }}</a></p>
    {% endif %}
</div>

<div class="mb-3">
    <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">{% trans "Телефон" %}:</h2>
    {% if data.admin_phone_1 %}
        <p class="g-color-gray-dark-v4 g-mb-0">{% trans "Телефон" %}: <a class="g-color-gray-dark-v2" href="tel:{{ data.admin_phone_1 }}"><span class="g-color-gray-dark-v2">{{ data.admin_phone_1 }}</span></a></p>
    {% endif %}
    {% if data.admin_phone_2 %}
        <p class="g-color-gray-dark-v4 g-mb-0">{% trans "Телефон" %}: <a class="g-color-gray-dark-v2" href="tel:{{ data.admin_phone_2 }}"><span class="g-color-gray-dark-v2">{{ data.admin_phone_2 }}</span></a></p>
    {% endif %}
    {% if data.admin_phone_3 %}
        <p class="g-color-gray-dark-v4 g-mb-0">{% trans "Телефон" %}: <a class="g-color-gray-dark-v2" href="tel:{{ data.admin_phone_3 }}"><span class="g-color-gray-dark-v2">{{ data.admin_phone_3 }}</span></a></p>
    {% endif %}
</div>

<div class="g-mb-30">
    <p class="g-color-gray-dark-v5 g-font-weight-600 g-font-size-16"><em>{% trans "Режим роботи" %}:
        {{ operating_mode }}
        <br>{% trans "Перерва" %} {{ lunch_break }}</em>
    </p>
</div>

<!-- Figure Social Icons -->
<ul class="list-inline">
    {% if data.fb_url %}
        <li class="list-inline-item">
            <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
               href="{{ data.fb_url }}"
               target="_blank">
                <i class="g-font-size-default fa fa-facebook"></i>
            </a>
        </li>
    {% endif %}

    {% if data.youtube_url %}
        <li class="list-inline-item">
            <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
               href="{{ data.youtube_url }}"
               target="_blank">
                <i class="g-font-size-default fa fa-youtube-play"></i>
            </a>
        </li>
    {% endif %}

    {% if data.twitter_url %}
        <li class="list-inline-item">
            <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
               href="{{ data.twitter_url }}"
               target="_blank">
                <i class="g-font-size-default fa fa-twitter"></i>
            </a>
        </li>
    {% endif %}

    {% if data.instagram_url %}
        <li class="list-inline-item">
            <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
               href="{{ data.instagram_url }}"
               target="_blank">
                <i class="g-font-size-default fa fa-instagram"></i>
            </a>
        </li>
    {% endif %}
</ul>
<!-- End Figure Social Icons -->