{% load i18n %}

<h3 class="h4 mb-4">{% trans "Адміністратор бази даних" %}</h3>

<div class="mb-4">
    <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">E-Mail:</h2>
    <p class="g-color-gray-dark-v4">Email: <a class="g-color-gray-dark-v2" href="mailto:taras@ukrpatent.org">taras@ukrpatent.org</a>
    </p>
</div>

<div class="mb-3">
    <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">{% trans "Телефон" %}:</h2>
    <p class="g-color-gray-dark-v4">{% trans "Телефон" %}: <span class="g-color-gray-dark-v2">+380 (44) 494-05-57</span>
    </p>
</div>

<div class="g-mb-30">
    <p class="g-color-gray-dark-v5 g-font-weight-600 g-font-size-16"><em>{% trans "Режим роботи" %}:
        {% trans "з" %} 8.30 {% trans "по" %} 17.15
        <br>{% trans "Перерва" %} {% trans "з" %}
        12.00 {% trans "по" %} 12.30</em>
    </p>
</div>

<!-- Figure Social Icons -->
<ul class="list-inline">
    <li class="list-inline-item">
        <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
           href="#!">
            <i class="g-font-size-default fa fa-facebook"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
           href="#!">
            <i class="g-font-size-default fa fa-youtube-play"></i>
        </a>
    </li>
</ul>
<!-- End Figure Social Icons -->