{% load i18n %}

{{ content_sidebar|safe }}

<div class="g-mb-30">
    <p class="g-color-gray-dark-v5 g-font-weight-600 g-font-size-16"><em>{% trans "Режим роботи" %}:
        {{ operating_mode }}
        <br>{% trans "Перерва" %} {{ lunch_break }}</em>
    </p>
</div>

<!-- Figure Social Icons -->
<ul class="list-inline">
    {% if data.fb_url %}
        <li class="list-inline-item">
            <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
               href="{{ data.fb_url }}"
               target="_blank">
                <i class="g-font-size-default fa fa-facebook"></i>
            </a>
        </li>
    {% endif %}

    {% if data.youtube_url %}
        <li class="list-inline-item">
            <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
               href="{{ data.youtube_url }}"
               target="_blank">
                <i class="g-font-size-default fa fa-youtube-play"></i>
            </a>
        </li>
    {% endif %}

    {% if data.twitter_url %}
        <li class="list-inline-item">
            <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
               href="{{ data.twitter_url }}"
               target="_blank">
                <i class="g-font-size-default fa fa-twitter"></i>
            </a>
        </li>
    {% endif %}

    {% if data.instagram_url %}
        <li class="list-inline-item">
            <a class="u-icon-v1 g-color-gray-dark-v5 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle"
               href="{{ data.instagram_url }}"
               target="_blank">
                <i class="g-font-size-default fa fa-instagram"></i>
            </a>
        </li>
    {% endif %}
</ul>
<!-- End Figure Social Icons -->