{% load i18n %}

<button class="btn btn-md u-btn-blue g-mb-20"
        type="button"
        id="show-search-form-btn"
        data-toggle="collapse"
        data-target="#collapseForm"
        aria-expanded="{% if request.session.show_search_form %}true{% else %}false{% endif %}"
        aria-controls="collapseExample">
        <span {% if not request.session.show_search_form %}style="display: none"{% endif %} class="hide"><i class="fa fa-angle-up"></i> {% trans "Сховати умови пошуку" %}</span>
        <span {% if request.session.show_search_form %}style="display: none"{% endif %} class="show"><i class="fa fa-angle-down"></i> {% trans "Показати умови пошуку" %}</span>
</button>
