{% extends "base.html" %}
{% load search_extras %}
{% load i18n %}

{% block title %}{% trans "Детальна інформація по об'єкту" %}{% endblock %}

{% block content %}

    {% include 'search/detail/inv_um/_partials/breadcrumbs.html' %}

    <div class="container g-min-height-200 g-py-20 g-py-70--lg">
        <div class="row">
            <div class="col-md-3 g-mb-20">
                <!-- Nav tabs -->
                <ul class="nav flex-column u-nav-v1-1 u-nav-primary g-bg-gray-light-v5 details-nav" role="tablist"
                    data-target="nav-1-1-primary-ver"
                    data-tabs-mobile-type="slide-up-down"
                    data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-primary g-mb-20">
                    <li class="nav-item">
                        <a class="nav-link g-text-underline--hover active"
                           data-toggle="tab"
                           href="#nav-1-1-primary-ver--1"
                           role="tab"
                        >{% trans "Бібліографічні дані" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link g-text-underline--hover {% if not biblio_documents.cl %}disabled{% endif %}"
                           data-toggle="tab"
                           href="#nav-1-1-primary-ver--2"
                           role="tab"
                        >{% trans "Формула" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link g-text-underline--hover {% if not biblio_documents.de %}disabled{% endif %}"
                           data-toggle="tab"
                           href="#nav-1-1-primary-ver--3"
                           role="tab"
                        >{% trans "Опис" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link g-text-underline--hover {% if not biblio_documents.ab_ua %}disabled{% endif %}"
                           data-toggle="tab"
                           href="#nav-1-1-primary-ver--4"
                           role="tab"
                        >{% trans "Реферат" %} (UA)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link g-text-underline--hover {% if not biblio_documents.ab_ru %}disabled{% endif %}"
                           data-toggle="tab"
                           href="#nav-1-1-primary-ver--5"
                           role="tab"
                        >{% trans "Реферат" %} (RU)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link g-text-underline--hover {% if not biblio_documents.ab_en %}disabled{% endif %}"
                           data-toggle="tab"
                           href="#nav-1-1-primary-ver--6"
                           role="tab"
                        >{% trans "Реферат" %} (EN)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link g-text-underline--hover"
                           data-toggle="tab"
                           href="#nav-1-1-primary-ver--7"
                           role="tab"
                        >{% trans "Стан діловодства" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link g-text-underline--hover {% if transactions|length == 0 %}disabled{% endif %}"
                           data-toggle="tab"
                           href="#nav-1-1-primary-ver--8"
                           role="tab"
                        >{% trans "Сповіщення" %}</a>
                    </li>
                </ul>
                <!-- End Nav tabs -->
            </div>

            <div class="col-md-9">
                <!-- Tab panes -->
                <div id="nav-1-1-primary-ver" class="tab-content">
                    <div class="tab-pane fade show active" id="nav-1-1-primary-ver--1" role="tabpanel">
                        <h3 class="g-pb-15">{% trans "Бібліографічні дані" %}</h3>

                        <div class="g-pb-10 d-flex justify-content-end">
                            {% registration_status status=hit.Document.RegistrationStatus %}
                        </div>

                        {% if hit.Document.idObjType == 1 or hit.Document.idObjType == 2 %}
                            {% include 'search/detail/inv_um/_partials/blblio_data/biblio.html' %}
                        {% endif %}
                    </div>


                    <div class="tab-pane fade" id="nav-1-1-primary-ver--2" role="tabpanel">
                        <h3 class="g-pb-15">{% trans "Формула" %}</h3>

                        {% if biblio_documents.cl %}
                            {% include 'search/detail/inv_um/_partials/blblio_data/cl.html' %}
                        {% endif %}
                    </div>

                    <div class="tab-pane fade" id="nav-1-1-primary-ver--3" role="tabpanel">
                        <h3 class="g-pb-15">{% trans "Опис" %}</h3>

                        {% if biblio_documents.de %}
                            {% include 'search/detail/inv_um/_partials/blblio_data/de.html' %}
                        {% endif %}
                    </div>

                    <div class="tab-pane fade" id="nav-1-1-primary-ver--4" role="tabpanel">
                        <h3 class="g-pb-15">{% trans "Реферат (UA)" %}</h3>

                        {% if biblio_documents.ab_ua %}
                            {% include 'search/detail/inv_um/_partials/blblio_data/ab_ua.html' %}
                        {% endif %}
                    </div>

                    <div class="tab-pane fade" id="nav-1-1-primary-ver--5" role="tabpanel">
                        <h3 class="g-pb-15">{% trans "Реферат (RU)" %}</h3>

                        {% if biblio_documents.ab_ru %}
                            {% include 'search/detail/inv_um/_partials/blblio_data/ab_ru.html' %}
                        {% endif %}
                    </div>

                    <div class="tab-pane fade" id="nav-1-1-primary-ver--6" role="tabpanel">
                        <h3 class="g-pb-15">{% trans "Реферат (EN)" %}</h3>

                        {% if biblio_documents.ab_en %}
                            {% include 'search/detail/inv_um/_partials/blblio_data/ab_en.html' %}
                        {% endif %}
                    </div>

                    <div class="tab-pane fade" id="nav-1-1-primary-ver--7" role="tabpanel">
                        <h3 class="g-pb-15">{% trans "Стан діловодства" %}</h3>

                        {% include 'search/detail/inv_um/_partials/state_of_affair/documents.html' %}
                        {% include 'search/detail/inv_um/_partials/state_of_affair/collections.html' %}
                        {% include 'search/detail/inv_um/_partials/state_of_affair/payments.html' %}
                    </div>

                    <div class="tab-pane fade" id="nav-1-1-primary-ver--8" role="tabpanel">
                        <h3 class="g-pb-20">{% trans "Сповіщення" %}</h3>

                        {% include 'search/detail/inv_um/_partials/transactions.html' %}
                    </div>
                </div>
                <!-- End Tab panes -->
            </div>
        </div>
    </div>
{% endblock %}