{% load uma_extras %}
{% load i18n %}

{% if transaction_type.title == 'Видача дубліката свідоцтва на знак для товарів і послуг' %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% elif transaction_type.title == "Видача ліцензії на використання знака для товарів і послуг" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>Ім'я або повне найменування та адреса ліцензіара</th>
            <th>Ім'я або повне найменування та адреса ліцензіата</th>
            <th>Вид ліцензії</th>
            <th>Реєстраційний номер рішення</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody.LicensorDetails.Licensor %}
                        {% for licensor in transaction_data.TransactionBody.LicensorDetails.Licensor %}
                            {{ licensor.LicensorAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}
                            ({{ licensor.LicensorAddressBook.FormattedNameAddress.Address.FreeFormatAddressLine }})
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if transaction_data.TransactionBody.LicenseeDetails.Licensee %}
                        {% for licensee in transaction_data.TransactionBody.LicenseeDetails.Licensee %}
                            {{ licensee.LicenseeAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}
                            ({{ licensee.LicenseeAddressBook.FormattedNameAddress.Address.FreeFormatAddressLine }})
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{% if transaction_data.LicenceKind == 'Nonexclusive' %}ЛН{% else %}ЛВ{% endif %}</td>
                <td>{{ transaction_data.TransactionBody.DecisionDetails.Decision.Number }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="g-mt-10">ЛН - ліцензія невиключна<br>ЛВ - ліцензія виключна</p>

{% elif transaction_type.title == "Виправлення очевидних помилок в публікації про видачу свідоцтва на знак для товарів і послуг" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>Дата публікації та номер бюлетня</th>
            <th>Слід читати</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody.PublicationDetails %}
                        {{ transaction_data.TransactionBody.PublicationDetails.Publication.PublicationDate|parse_date|date:"d.m.Y" }}, {{ transaction.TransactionBody.PublicationDetails.Publication.PublicationIdentifier }}
                    {% endif %}
                </td>
                <td>
                    {% if transaction_data.TransactionBody.HolderDetails %}
                        <span class="g-font-weight-600">(732) {% trans "Ім'я або повне найменування та адреса власника свідоцтва" %}:</span><br>
                        {% for holder in transaction_data.TransactionBody.HolderDetails.Holder %}
                            {{ holder.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}
                            ({{ holder.ApplicantAddressBook.FormattedNameAddress.Address.FreeFormatAddressLine }})
                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% elif transaction_type.title == "Зміна імені (найменування) адреси власника свідоцтва на торговельну марку, чи зміна особи власника свідоцтва на торговельну марку" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>(732) {% trans "Ім'я або повне найменування та адреса власника свідоцтва" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody.HolderDetails %}
                        {% for holder in transaction_data.TransactionBody.HolderDetails.Holder %}
                            {{ holder.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} ({{ holder.ApplicantAddressBook.FormattedNameAddress.Address.FreeFormatAddressLine }}){% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% elif transaction_type.title == "Передача права власності" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>(770) {% trans "Ім'я або повне найменування та адреса попереднього власника свідоцтва" %}</th>
            <th>(732) {% trans "Ім'я або повне найменування та адреса власника свідоцтва" %}</th>
            <th>{% trans "Реєстраційний номер рішення" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody.HolderDetails.PreviousHolder %}
                        {% for holder in transaction_data.TransactionBody.HolderDetails.PreviousHolder %}
                            {{ holder.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} ({{ holder.ApplicantAddressBook.FormattedNameAddress.Address.FreeFormatAddressLine }}){% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if transaction_data.TransactionBody.HolderDetails.NewHolder %}
                        {% for holder in transaction_data.TransactionBody.HolderDetails.NewHolder %}
                            {{ holder.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} ({{ holder.ApplicantAddressBook.FormattedNameAddress.Address.FreeFormatAddressLine }}){% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if transaction_data.TransactionBody.DecisionDetails.Decision.Number %}
                        {{ transaction_data.TransactionBody.DecisionDetails.Decision.Number }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% elif transaction_type.title == "Припинення дії свідоцтва на підставі заяви власника повністю" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>(141) {% trans "Дата припинення дії свідоцтва" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody %}
                        {{ transaction_data.TransactionBody.TerminationDate|parse_date|date:"d.m.Y" }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% elif transaction_type.title == "Продовження дії свідоцтва на торговельну марку" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>(186) {% trans "Очікувана дата закінчення строку продовження дії свідоцтва" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody %}
                        {{ transaction_data.TransactionBody.ProlongationExpiryDate|parse_date|date:"d.m.Y" }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% elif transaction_type.title == "Припинення дії свідоцтва на підставі заяви власника частково" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>(141) {% trans "Дата припинення дії свідоцтва" %}</th>
            <th>(511) {% trans "Перелік товарів і/або послуг обмежено таким" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody.TerminationDate %}
                        {{ transaction_data.TransactionBody.TerminationDate|parse_date|date:"d.m.Y" }}
                    {% endif %}
                </td>
                <td>
                     {% if transaction_data.TransactionBody.GoodsServicesDetails %}
                        {% for class in transaction_data.TransactionBody.GoodsServicesDetails.GoodsServices.ClassDescriptionDetails.ClassDescription %}
                            <strong>Кл. {{ class.ClassNumber }}:</strong>
                            {% for term in class.ClassificationTermDetails.ClassificationTerm %}
                                {{ term.ClassificationTermText }}{% if not forloop.last %};{% endif %}
                            {% endfor %}{% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% elif transaction_type.title == "Визнання свідоцтва недійсним за рішенням суду повністю" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>{% trans "Дата, від якої свідоцтво вважається таким, що не набрало чинності" %}</th>
            <th>{% trans "Назва суду, номер та дата прийняття рішення" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody.TerminationDate %}
                        {{ transaction_data.TransactionBody.TerminationDate|parse_date|date:"d.m.Y" }}
                    {% endif %}
                </td>
                <td>
                    {% if transaction_data.TransactionBody.DecisionDetails %}
                        {{ transaction_data.TransactionBody.DecisionDetails.Decision.CourtName }}; {{ transaction_data.TransactionBody.DecisionDetails.Decision.Number }}; {{ transaction_data.TransactionBody.DecisionDetails.Decision.Date|parse_date|date:"d.m.Y" }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% elif transaction_type.title == "Визнання свідоцтва недійсним за рішенням суду частково" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>(141) {% trans "Дата припинення дії свідоцтва частково" %}</th>
            <th>(511) {% trans "Перелік товарів і/або послуг обмежено таким" %}</th>
            <th>{% trans "Назва суду, номер та дата прийняття рішення" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody.TerminationDate %}
                      {{ transaction_data.TransactionBody.TerminationDate|parse_date|date:"d.m.Y" }}
                    {% endif %}
                </td>
                <td>
                    {% if transaction_data.TransactionBody.GoodsServicesDetails %}
                        {% for class in transaction_data.TransactionBody.GoodsServicesDetails.GoodsServices.ClassDescriptionDetails.ClassDescription %}
                            <strong>Кл. {{ class.ClassNumber }}:</strong>
                            {% for term in class.ClassificationTermDetails.ClassificationTerm %}
                                {{ term.ClassificationTermText }}{% if not forloop.last %};{% endif %}
                            {% endfor %}{% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if transaction_data.TransactionBody.DecisionDetails %}
                        {{ transaction_data.TransactionBody.DecisionDetails.Decision.CourtName }}; {{ transaction_data.TransactionBody.DecisionDetails.Decision.Number }}; {{ transaction_data.TransactionBody.DecisionDetails.Decision.Date|parse_date|date:"d.m.Y" }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% elif transaction_type.title == "Виправлення очевидних помилок у публiкацiях вiдомостей про передачу права власностi на знак для товарiв i послуг" %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>(210) Порядковий номер заявки</th>
            <th>(111) Номер реєстрації, що є номером свідоцтва</th>
            <th>(732) {% trans "Ім'я або повне найменування та адреса власника свідоцтва" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for transaction in transactions %}
            {% json_to_dict transaction.json_data as transaction_data %}
            <tr>
                <td>
                    <a href="{% url 'search:detail' pk=transaction.application.pk %}"
                       target="_blank">{{ transaction.application.app_number }}</a>
                </td>
                <td>{{ transaction.application.registration_number }}</td>
                <td>
                    {% if transaction_data.TransactionBody.HolderDetails %}
                        {% for holder in transaction_data.TransactionBody.HolderDetails.Holder %}
                            {{ holder.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} ({{ holder.ApplicantAddressBook.FormattedNameAddress.Address.FreeFormatAddressLine }}){% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    {% for transaction in transactions %}
        {% json_to_dict transaction.json_data as transaction_data %}
        <pre>{{ transaction_data|pprint }}</pre>
    {% endfor %}
{% endif %}