{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load l10n %}

{% block title %}{% trans "Замовлення" %} - {% trans "Мій кабінет" %}{% endblock %}

{% block content %}

    {% include 'accounts/orders/detail/_partials/breadcrumbs.html' %}

    <section class="container g-pt-70 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-lg-3 g-mb-50 g-mb-0--lg">
                <!-- Sidebar Navigation -->
                {% include 'accounts/_partials/sidebar.html' %}
                <!-- End Sidebar Navigation -->
            </div>

            <div class="col-md-9 g-mb-60">
                <h2 class="h3 g-mb-25 g-font-weight-300">{% trans 'Деталі замовлення' %}</h2>

                <p class="g-mb-20 g-font-size-16 text-justify">
                    {% blocktrans with value=object.value %}Рахунок на поповнення на <strong>{{ value }} грн.</strong> успішно сформовано, ви можете сплатити його за допомогою сервісу "Приват24", скориставшись кнопкою нижче.{% endblocktrans %}
                </p>

                <div class="text-sm-right">
                       <a class="btn u-btn-indigo rounded-0 g-py-12 g-px-25 g-font-size-18"
                          target="_blank"
                          href='https://next.privat24.ua/payments/form/{"token":"41d9f80012e93f459fb60e22a7d6cfc941aaj8kf", "personalAccount":"{{ object.pk }}", "sum":"{{ object.value|unlocalize }}"}'>{% trans "Сплатити у Приват24" %}</a>
                </div>
             </div>
        </div>
    </section>

    {% include 'accounts/settings/_partials/license.html' %}
{% endblock %}