{% extends "base.html" %}
{% load search_extras %}
{% load uma_extras %}
{% load i18n %}

{% block title %}{% trans "Детальна інформація по об'єкту" %}{% endblock %}

{% block content %}

    {% include 'search/detail/qi/_partials/breadcrumbs.html' %}

    <div class="container g-min-height-200 g-py-20 g-py-70--lg">
        <div class="row">
            <div class="col-md-3 g-mb-20">
                {% include 'search/detail/qi/_partials/sidebar.html' %}
            </div>

            <div class="col-md-9">
                <!-- Tab panes -->
                <div id="nav-1-1-primary-ver" class="tab-content">
                    <div class="tab-pane fade show active" id="nav-1-1-primary-ver--1" role="tabpanel">
                        <h3 class="g-pb-15">{% trans "Бібліографічні дані" %}</h3>

                        {% if hit.search_data.obj_state == 2 %}
                            <div class="g-pb-20 d-flex justify-content-between">
                                {% if hit.Geo.GeoDetails.PublicationDetails %}
                                    <div>
                                        {% trans "Опубліковано" %} <span class="g-font-weight-600">{{ hit.Geo.GeoDetails.PublicationDetails.0.PublicationDate|parse_date|date:"d.m.Y" }}</span>,
                                        {% trans "бюл." %} № <span class="g-font-weight-600">{{ hit.Geo.GeoDetails.PublicationDetails.0.PublicationIdentifier }}</span>
                                    </div>
                                {% endif %}

                                {% if hit.search_data.obj_state == 2 %}
                                   {% registration_status hit=hit %}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% include 'search/detail/qi/_partials/blblio_data/biblio.html' %}
                    </div>

                    <div class="tab-pane fade" id="nav-1-1-primary-ver--2" role="tabpanel">
                        <h3 class="g-pb-20">{% trans "Сповіщення" %}</h3>

                        {% include 'search/detail/qi/_partials/transactions.html' %}
                    </div>
                </div>
                <!-- End Tab panes -->
            </div>
        </div>
    </div>
{% endblock %}