/* Add here all your css styles (customizations) */
// Variables
@import "custom.variables";
// Mixins
@import "custom.mixins";

.gradient:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(0deg, rgba(7, 21, 59, 0.95) 0%, rgba(86, 218, 249, 0.75) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ac3f3', endColorstr='#07153b', GradientType=0); /* ie6-9 */
}

@media all and (max-width: 1199px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-collapse {
    width: 100%;
    -ms-flex-order: 10;
    order: 10;
  }
}

@media all and (max-width: 991px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-collapse {
    width: 100%;
    -ms-flex-order: 10;
    order: 10;
  }
}

@media all and (max-width: 767px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-collapse {
    width: 100%;
    -ms-flex-order: 10;
    order: 10;
  }
}

@media all and (max-width: 575px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-collapse {
    width: 100%;
    -ms-flex-order: 10;
    order: 10;
  }
}

.g-bg-bluegray {
  background-color: $g-color-bluegray !important;

  &-opacity {
    &-0_35,
    &-0_35--after::after {
      background-color: rgba($g-color-bluegray, .35) !important;
    }
  }
}

/* Color Brown */
.g-color-burgundy {
  color: #be0f05 !important;

  &--hover:hover {
    color: #be0f05 !important;
  }
}

.table-biblio {
  th {
    width: 40%;
  }
  td {
    padding-left: 10px;
  }
}

.table-trade-mark {
  th {
    width: 45%;
  }
}

.g-text-underline--hover {
  &:hover {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}

.details-nav {
  .disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
}

.logo-mobile {
  display: none;
}

@media (max-width: 600px) {
    .logo-mobile {
      display: block;
    }
    .logo-desktop {
      display: none;
    }
  }

.g-min-height-160 {
  min-height: 160px;
}

.kzpt-desc-short, .kzpt-desc-full, .kzpt-geo {
  p {
    margin-bottom: 0;
  }
}

.sticky-top {
  top: 8em;
}

.bg-lightred {
  background-color: rgb(255, 99, 80) !important;
}

#account-settings-form, #account-balance-deposit-form {
  label:not(.form-check-label) {
    font-weight: 600;
  }
}

.u-has-error-v1 {
    .multiselect__tags, .multiselect__input {
        background-color: #fff0f0;
    }
}

.multiselect__option--highlight {
    background: $g-color-primary;
}

.multiselect__option--highlight::after {
    background: $g-color-primary;
}

.multiselect__option--selected.multiselect__option--highlight::after {
    background: $g-color-primary;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: $g-color-primary;
}

.multiselect__input, .multiselect__single {
    padding-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multiselect, .multiselect__single {
    font-size: 14px;
}

.multiselect__input {
  font-size: 15px;
}

.multiselect__placeholder {
    margin-bottom: 5px;
    padding-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.multiselect__tag {
    margin-bottom: 0;
    background: $g-color-primary-light-v2;
}

.multiselect__tag-icon {
    &:after {
      color: #3e466d;
    }

    &:hover {
      background: $g-color-primary-light-v2;
    }
}

.multiselect__tags {
    border: 1px solid #ced4da;
}

.multiselect__option {
  white-space: normal;
  line-height: 14px;
  padding: 8px;
  min-height: 30px;

  &:after {
    line-height: 30px;
  }
}

.navbar-brand {
    margin-right: 0;
}

.app-stages {
  .app-stages__step-list {
    position: relative;
    padding-left: 45px;
    list-style: none;
  }

  .app-stages__step-list::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #CCC;
  }

  .app-stages__step-list__item {
    position: relative;
    counter-increment: list;
  }

  .app-stages__step-list__item:not(:last-child) {
    padding-bottom: 20px;
  }

  .app-stages__step-list__item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
  }

  .app-stages__step-list__item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -41px;
    width: 25px;
    height: 25px;
    border: 4px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
  }

  .app-stages__step-list__item_done::before {
    border-left: 2px solid $g-color-success;
  }

  .app-stages__step-list__item_done::after {
    content: "✔";
    font-size: 12px;
    color: #FFF;
    text-align: center;
    border: 4px solid $g-color-success;
    background-color: $g-color-success;
  }

  .app-stages__step-list__item_not-used::before {
    border-left: 2px solid $g-color-gray-dark-v4;
  }

  .app-stages__step-list__item_not-used::after {
    font-size: 12px;
    color: #FFF;
    text-align: center;
    border: 4px solid $g-color-gray-dark-v4;
    background-color: $g-color-gray-dark-v4;
  }

  .app-stages__step-list__item_stopped::before {
    border-left: 2px solid $g-color-danger;
  }

  .app-stages__step-list__item_stopped::after {
    content: "✖";
    font-size: 12px;
    color: #FFF;
    text-align: center;
    border: 4px solid $g-color-danger;
    background-color: $g-color-danger;
  }

  .app-stages__step-list__item_current::before {
    border-left: 2px solid $g-color-primary;
  }

  .app-stages__step-list__item_current::after {
    content: "◉";
    font-size: 12px;
    color: #FFF;
    text-align: center;
    border: 4px solid $g-color-primary;
    background-color: $g-color-primary;
  }

  .app-stages__step-list-explain {
    position: relative;
    padding-left: 45px;
    list-style: none;
  }

  .app-stages__step-list-explain::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
  }

  .app-stages__step-list-explain__item {
    position: relative;
    counter-increment: list;
  }

  .app-stages__step-list-explain__item:not(:last-child) {
    padding-bottom: 20px;
  }

  .app-stages__step-list-explain__item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
  }

  .app-stages__step-list-explain__item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -41px;
    width: 25px;
    height: 25px;
    border: 4px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
  }

  .app-stages__step-list-explain__item_done::after {
    content: "✔";
    font-size: 12px;
    color: #FFF;
    text-align: center;
    border: 4px solid $g-color-success;
    background-color: $g-color-success;
  }

  .app-stages__step-list-explain__item_not-used::after {
    font-size: 12px;
    color: #FFF;
    text-align: center;
    border: 4px solid $g-color-gray-dark-v4;
    background-color: $g-color-gray-dark-v4;
  }

  .app-stages__step-list-explain__item_stopped::after {
    content: "✖";
    font-size: 12px;
    color: #FFF;
    text-align: center;
    border: 4px solid $g-color-danger;
    background-color: $g-color-danger;
  }

  .app-stages__step-list-explain__item_current::after {
    content: "◉";
    font-size: 12px;
    color: #FFF;
    text-align: center;
    border: 4px solid $g-color-primary;
    background-color: $g-color-primary;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(232, 232, 232, 0.8);

  .overlay-content {
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #555;
  }
}

.vuetify-wrap {
  @import "~vuetify/dist/vuetify.min";

  .v-treeview-node__label {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.nav-link {
    padding: .5rem 1rem !important;
}

img {
    page-break-inside: avoid; /* or 'auto' */
}

.for-print {
  display: none;
}

@media print {
  .results {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }

    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}