/* Add here all your css styles (customizations) */
// Variables
@import "custom.variables";
// Mixins
@import "custom.mixins";

.gradient:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(0deg, rgba(7, 21, 59, 0.95) 0%, rgba(86, 218, 249, 0.75) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ac3f3', endColorstr='#07153b', GradientType=0); /* ie6-9 */
}

@media all and (max-width: 1199px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-collapse {
    width: 100%;
    -ms-flex-order: 10;
    order: 10;
  }
}

@media all and (max-width: 991px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-collapse {
    width: 100%;
    -ms-flex-order: 10;
    order: 10;
  }
}

@media all and (max-width: 767px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-collapse {
    width: 100%;
    -ms-flex-order: 10;
    order: 10;
  }
}

@media all and (max-width: 575px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-collapse {
    width: 100%;
    -ms-flex-order: 10;
    order: 10;
  }
}

.g-bg-bluegray {
  background-color: $g-color-bluegray !important;

  &-opacity {
    &-0_35,
    &-0_35--after::after {
      background-color: rgba($g-color-bluegray, .35) !important;
    }
  }
}

/* Color Brown */
.g-color-burgundy {
  color: #be0f05 !important;

  &--hover:hover {
    color: #be0f05 !important;
  }
}

.table-biblio {
  th {
    width: 40%;
  }
  td {
    padding-left: 10px;
  }
}

.table-trade-mark {
  th {
    width: 45%;
  }
}

.g-text-underline--hover {
  &:hover {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}

.details-nav {
  .disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
}

.logo-mobile {
  display: none;
}

@media (max-width: 600px) {
    .logo-mobile {
      display: block;
    }
    .logo-desktop {
      display: none;
    }
  }

.g-min-height-160 {
  min-height: 160px;
}

.kzpt-desc-short, .kzpt-desc-full, .kzpt-geo {
  p {
    margin-bottom: 0;
  }
}

.sticky-top {
  top: 8em;
}

.bg-lightred {
  background-color: rgb(255, 99, 80) !important;
}

#account-settings-form, #account-balance-deposit-form {
  label:not(.form-check-label) {
    font-weight: 600;
  }
}

.u-has-error-v1 {
    .multiselect__tags, .multiselect__input {
        background-color: #fff0f0;
    }
}

.multiselect__input, .multiselect__single {
    padding-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multiselect, .multiselect__single {
    font-size: 14px;
}

.multiselect__input {
  font-size: 15px;
}

.multiselect__placeholder {
    margin-bottom: 5px;
    padding-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.multiselect__tag {
    margin-bottom: 0;
}

.multiselect__tags {
    border: 1px solid #ddd;
}

.multiselect__option {
  white-space: normal;
  line-height: 14px;
  padding: 8px;
  min-height: 30px;

  &:after {
    line-height: 30px;
  }
}

.multiselect__content-wrapper {
  z-index: 9999;
}