{% load uma_extras %}
{% load i18n %}

<div class="table-responsive">
    <table class="table table-bordered table-sm g-font-size-13">
        {% for transaction in hit.transactions %}
            <tr>
                <th class="g-px-10" width="20%">{{ transaction.PUBLICATIONNAME }}</th>
                <td>
                    {% if transaction.PUBLICATIONNAME == 'Видача дубліката' %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == 'Припинення дії патенту у разі несплати збору' %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATEFACTSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Дата припинення дії" %}:</span> {{ transaction.DATEFACTSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == 'Виправлення очевидних помилок' %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == 'Зміна імені (найменування) і/або адреси чи особи власника патенту (деклараційного патенту)' %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Припинення дії деклараційного патенту у зв'язку з видачею 20 - річного патенту" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATEFACTSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Дата припинення дії" %}:</span> {{ transaction.DATEFACTSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Припинення  дії патенту у зв'язку з закінченням терміну дії" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATEFACTSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Дата припинення дії" %}:</span> {{ transaction.DATEFACTSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Припинення дії патенту на підставі заяви власника повністю" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATEFACTSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Дата припинення дії" %}:</span> {{ transaction.DATEFACTSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Визнання  патенту (деклараційного патенту) недійсним за рішенням суду повністю" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATEFACTSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Дата припинення дії" %}:</span> {{ transaction.DATEFACTSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.COURTNAME and transaction.COURTDOCNUMBER and transaction.COURTDOCDATE %}
                                <li><span class="g-font-weight-600">{% trans "Назва суду, номер та дата прийняття рішення" %}:</span> {{ transaction.COURTNAME }} {{ transaction.COURTDOCNUMBER }}, {{ transaction.COURTDOCDATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Зміна адреси для листування" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Зміна складу винахідників" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INID_72 %}
                                <li><span class="g-font-weight-600">(72) {% trans "Винахідник" %}:</span> {{ transaction.INID_72 }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Передача права власності" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Видача ліцензії на використання" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Заява власника патенту (деклараційного патенту) про готовність надання будь-якій особі дозволу на використання" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Встановлення власника патенту (деклараційного патенту) за рішенням суду" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.COURTNAME and transaction.COURTDOCNUMBER and transaction.COURTDOCDATE %}
                                <li><span class="g-font-weight-600">{% trans "Назва суду, номер та дата прийняття рішення" %}:</span> {{ transaction.COURTNAME }} {{ transaction.COURTDOCNUMBER }}, {{ transaction.COURTDOCDATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.INID_73 %}
                                <li><span class="g-font-weight-600">(73) {% trans "Власник" %}:</span> {{ transaction.INID_73 }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Продовження строку дії патенту" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATEPLANSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Очікувана дата закінчення строку дії патенту" %}:</span> {{ transaction.DATEPLANSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Визнання деклараційного патенту таким, що не набрав чинності, у зв'язку з прийняттям рішення про відмову у видачі патенту" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATEFACTSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Дата припинення дії" %}:</span> {{ transaction.DATEFACTSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Зміни внесені у відомості про видачу ліцензії на використання" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Зміна адреси власника" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Припинення дії патенту на підставі заяви власника частково" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATEFACTSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Дата припинення дії" %}:</span> {{ transaction.DATEFACTSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.DATEPARTIALSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Дата припинення дії патенту частково" %}:</span> {{ transaction.DATEPARTIALSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.INID_54 %}
                                <li><span class="g-font-weight-600">(54) {% trans "Назва" %}:</span> {{ transaction.INID_54 }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Зміна назви винаходу за заявою власника" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INID_54 %}
                                <li><span class="g-font-weight-600">(54) {% trans "Назва" %}:</span> {{ transaction.INID_54 }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Відновлення дії патенту на корисну модель" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.OTHER3 %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту" %}:</span> {{ transaction.OTHER3 }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Зміна імені винахідника" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.OTHER %}
                                <li><span class="g-font-weight-600">(72) {% trans "Винахідник" %}:</span> {{ transaction.OTHER }}</li>
                            {% endif %}

                            {% if transaction.INID_72 %}
                                <li><span class="g-font-weight-600">(72) {% trans "Винахідник" %}:</span> {{ transaction.INID_72 }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Виправлення очевидних помилок у публікаціях відомостей про передачу права власності" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Зміни внесені за рішенням суду" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.COURTNAME and transaction.COURTDOCNUMBER and transaction.COURTDOCDATE %}
                                <li><span class="g-font-weight-600">{% trans "Назва суду, номер та дата прийняття рішення" %}:</span> {{ transaction.COURTNAME }} {{ transaction.COURTDOCNUMBER }}, {{ transaction.COURTDOCDATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.INID_57 %}
                                <li><span class="g-font-weight-600">{% trans "Зміни" %}:</span> {{ transaction.INID_57 }}</li>
                            {% endif %}

                            {% if transaction.INID_72 %}
                                <li><span class="g-font-weight-600">{% trans "Зміни" %} ((72) {% trans "Винахідник" %}):</span> {{ transaction.INID_72 }}</li>
                            {% endif %}

                            {% if transaction.INID_73 %}
                                <li><span class="g-font-weight-600">{% trans "Зміни" %} ((73) {% trans "Власник" %}):</span> {{ transaction.INID_73 }}</li>
                            {% endif %}

                            {% if transaction.OTHER %}
                                <li><span class="g-font-weight-600">{% trans "Зміни" %}:</span> {{ transaction.OTHER }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Інші відомості, що стосуються реєстрації патентів (деклараційних патентів) на винаходи" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.INPUTNUMBER %}
                                <li><span class="g-font-weight-600">(21) {% trans "Номер заявки" %}:</span> {{ transaction.INPUTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATE %}
                                <li><span class="g-font-weight-600">{% trans "Дата сповіщення" %}:</span> {{ transaction.DATE|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.COURTNAME %}
                                <li><span class="g-font-weight-600">{% trans "Назва суду" %}:</span> {{ transaction.COURTNAME }}</li>
                            {% endif %}

                            {% if transaction.INID_57 %}
                                <li><span class="g-font-weight-600">{% trans "Зміни" %}:</span> {{ transaction.INID_57 }}</li>
                            {% endif %}

                            {% if transaction.INID_72 %}
                                <li><span class="g-font-weight-600">{% trans "Зміни" %} ((72) {% trans "Винахідник" %}):</span> {{ transaction.INID_72 }}</li>
                            {% endif %}

                            {% if transaction.INID_73 %}
                                <li><span class="g-font-weight-600">{% trans "Зміни" %} ((73) {% trans "Власник" %}):</span> {{ transaction.INID_73 }}</li>
                            {% endif %}

                            {% if transaction.OTHER %}
                                <li><span class="g-font-weight-600">{% trans "Зміни" %}:</span> {{ transaction.OTHER }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Вважати такою, що не відбулася, публікацію про припинення дії патенту на винахід у зв'язку із закінченням строку дії" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.OTHER3 %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.OTHER3 }}</li>
                            {% endif %}

                            {% if transaction.OTHER %}
                                <li><span class="g-font-weight-600">{% trans "Дата публікації відомостей про припинення та номер бюлетеня" %}:</span> {{ transaction.OTHER }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Визнання внесених змін недійсними за рішенням суду" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.OTHER3 %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.OTHER3 }}</li>
                            {% endif %}

                            {% if transaction.OTHER4 %}
                                <li><span class="g-font-weight-600">{% trans "Дата публікації відомостей про внесення змін та номер бюлетеня" %}:</span> {{ transaction.OTHER4 }}</li>
                            {% endif %}

                            {% if transaction.OTHER %}
                                <li><span class="g-font-weight-600">{% trans "Формула корисної моделі внаслідок рішення суду" %}:</span> {{ transaction.OTHER }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Поновлення дії патенту на корисну модель за рішенням суду" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.OTHER3 %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.OTHER3 }}</li>
                            {% endif %}

                            {% if transaction.OTHER %}
                                <li><span class="g-font-weight-600">{% trans "Дата публікації відомостей про видачу патенту" %}:</span> {{ transaction.OTHER }}</li>
                            {% endif %}

                            {% if transaction.OTHER4 %}
                                <li><span class="g-font-weight-600">{% trans "Назва суду, номер та дата прийняття рішення" %}:</span> {{ transaction.OTHER4 }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% elif transaction.PUBLICATIONNAME == "Припинення дії прав, що випливають з державної реєстрації, за заявою володільця частково" %}
                        <ul class="g-pl-20">
                            {% if transaction.BULLETIN %}
                                <li><span class="g-font-weight-600">{% trans "Бюлетень" %}:</span> {{ transaction.BULLETIN }}</li>
                            {% endif %}

                            {% if transaction.PATENTNUMBER %}
                                <li><span class="g-font-weight-600">(11) {% trans "Номер патенту (деклараційного патенту)" %}:</span> {{ transaction.PATENTNUMBER }}</li>
                            {% endif %}

                            {% if transaction.DATEPARTIALSTOP %}
                                <li><span class="g-font-weight-600">{% trans "Дата припинення дії патенту частково" %}:</span> {{ transaction.DATEPARTIALSTOP|parse_date|date:"d.m.Y" }}</li>
                            {% endif %}

                            {% if transaction.REASON %}
                                <li><span class="g-font-weight-600">{% trans "Причина" %}:</span> {{ transaction.REASON }}</li>
                            {% endif %}
                        </ul>
                    {% else %}
                        {{ transaction }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>