{% load staticfiles %}
<!DOCTYPE html>
<html lang="ua">

<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link type="text/css" href="{% static 'bundles/styles.css' %}" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
</head>

<body>
    <main>
        <!-- Header -->
        {% include '_partials/header.html' %}
        <!-- End Header -->

        <div id="app">
            {% block content %}{% endblock %}
        </div>


        <!-- Footer -->
        {% include '_partials/footer.html' %}
        <!-- End Footer -->
    </main>

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src="{% static 'bundles/app.js' %}" ></script>
{% block extra_scripts %}{% endblock %}
</body>

</html>
