{% load search_extras %}
{% load uma_extras %}
{% load i18n %}

{% include 'search/detail/id/_partials/breadcrumbs.html' %}

<div class="container g-min-height-200 g-py-20 g-py-70--lg">
    <div class="row">
        <div class="col-md-3 g-mb-20">
            {% include 'search/detail/id/_partials/sidebar.html' %}
        </div>

        <div class="col-md-9">
            <!-- Tab panes -->
            <div id="nav-1-1-primary-ver" class="tab-content">
                <div class="tab-pane fade show active" id="nav-1-1-primary-ver--1" role="tabpanel">
                    {% include 'search/detail/_partials/biblio_header.html' %}

                    {% include 'search/detail/id/_partials/blblio_data/biblio.html' %}
                </div>

                <div class="tab-pane fade" id="nav-1-1-primary-ver--7" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Стан діловодства" %}</h3>

                    {% user_has_access_to_docs request.user hit as user_has_access_to_docs %}
                    {% if user_has_access_to_docs %}
                        {% include 'search/detail/id/_partials/state_of_affair/documents.html' %}
                    {% else %}
                        {% include 'search/detail/id/_partials/state_of_affair/documents_without_links.html' %}
                    {% endif %}

                    {% include 'search/detail/id/_partials/state_of_affair/payments.html' %}
                </div>

                <div class="tab-pane fade" id="nav-1-1-primary-ver--8" role="tabpanel">
                    <h3 class="g-pb-20">{% trans "Сповіщення" %}</h3>

                    {% include 'search/detail/id/_partials/transactions.html' %}
                </div>
            </div>
            <!-- End Tab panes -->
        </div>
    </div>
</div>