{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Історія переглядів заявок" %} - {% trans "Мій кабінет" %}{% endblock %}

{% block content %}

    {% include 'accounts/views_history/_partials/breadcrumbs.html' %}

    <section class="container g-pt-70 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-lg-3 g-mb-50 g-mb-0--lg">
                <!-- Sidebar Navigation -->
                {% include 'accounts/_partials/sidebar.html' %}
                <!-- End Sidebar Navigation -->
            </div>

            <div class="col-md-9 g-mb-60">
                {% if appvisit_list %}
                    <!-- Basic Table -->
                    <div class="card g-brd-primary rounded-0">
                        <h3 class="card-header g-bg-primary g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
                            <i class="fa fa-tasks g-mr-5"></i>
                            {% trans "Історія переглядів заявок" %}
                        </h3>


                        <div class="card-block table-responsive g-pa-15">
                            <table class="table table-striped table-bordered u-table--v1 mb-0">
                                <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>№ заявки</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for visit in appvisit_list %}
                                    <tr>
                                        <td>{{ visit.created_at|date:'d.m.Y H:i:s' }}</td>
                                        <td><a href="{% url 'search:detail' visit.app__id %}">{{ visit.app__app_number }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Basic Table -->
                {% else %}
                    <p>{% trans 'Історія переглядів поки що пуста.' %}</p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}