{% load search_extras %}
{% load i18n %}

{% include 'search/detail/tm/_partials/breadcrumbs.html' %}

<div class="container g-min-height-200 g-py-20 g-py-70--lg">
    <div class="row">
        <div class="col-md-3 g-mb-20">
            {% include 'search/detail/tm/_partials/sidebar.html' %}
        </div>

        <div class="col-md-9">
            <!-- Tab panes -->
            <div id="nav-1-1-primary-ver" class="tab-content">
                <div class="tab-pane fade show active" id="nav-1-1-primary-ver--1" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Бібліографічні дані" %}</h3>

                    {% if hit.search_data.obj_state == 2 %}
                        <div class="g-pb-20 d-flex justify-content-between">
                            {% if hit.TradeMark.TrademarkDetails.PublicationDetails %}
                                <div>
                                    {% trans "Опубліковано" %} <span class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.PublicationDetails.Publication.PublicationDate }}</span>,
                                    {% trans "бюл." %} № <span class="g-font-weight-600">{{ hit.TradeMark.TrademarkDetails.PublicationDetails.Publication.PublicationIdentifier }}</span>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if hit.search_data.obj_state == 2 %}
                        <div class="g-pb-10 d-flex justify-content-end">
                            {% registration_status hit=hit %}
                        </div>
                    {% endif %}

                    {% include 'search/detail/tm/_partials/blblio_data/biblio.html' %}
                </div>

                <div class="tab-pane fade" id="nav-1-1-primary-ver--7" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Стан діловодства" %}</h3>

                    {% user_has_access_to_docs request.user id_app_number as user_has_access_to_docs %}
                    {% if user_has_access_to_docs %}
                        {% include 'search/detail/tm/_partials/state_of_affair/documents.html' %}
                    {% else %}
                        {% include 'search/detail/tm/_partials/state_of_affair/documents_without_links.html' %}
                    {% endif %}

                    {% include 'search/detail/tm/_partials/state_of_affair/payments.html' %}
                </div>

                <div class="tab-pane fade" id="nav-1-1-primary-ver--8" role="tabpanel">
                    <h3 class="g-pb-20">{% trans "Сповіщення" %}</h3>

                    {% include 'search/detail/tm/_partials/transactions.html' %}
                </div>
            </div>
            <!-- End Tab panes -->
        </div>
    </div>
</div>