{% load uma_extras %}
{% load search_extras %}
{% load i18n %}

<div class="card g-brd-none rounded-0 g-mb-15 g-font-size-13">
    <div class="d-flex justify-content-between card-header g-pl-10 g-py-4 g-bg-bluegray-opacity-0_35 g-brd-transparent g-font-size-14 g-font-weight-600 rounded-0 mb-0">
        <div>
            {{ item_num }}.
            <a href="{% url 'search:detail' pk=hit.meta.id %}"
               class="g-color-black-opacity-0_8 g-color-burgundy--hover g-text-underline g-text-underline--none--hover"
            >{% if hit.search_data.title %}{{ hit.search_data.title }}{% elif hit.Document.is_limited %}<span class="g-color-red">*</span>{% else %}---{% endif %}</a>
        </div>

        {% include 'search/advanced/_partials/favorites_icon.html' %}
    </div>

    <div class="g-py-5 d-flex justify-content-between">
        <div class="g-text-underline text-info">
            {% if hit.Document.idObjType == 10 %}
                {% trans 'Авторське право на твір' %}
            {% else %}
                {% trans 'Авторське право на службовий твір' %}
            {% endif %}
        </div>

        {% if hit.Document.ShowRegistrationStatus %}
            {% registration_status hit=hit %}
        {% endif %}
    </div>

    <div class="row g-color-black-opacity-0_9 g-line-height-1_3">
        <div class="col-md">
            <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "Заявник(и)" %}:</h4>

            {% if hit.Document.is_limited and not hit.Certificate.CopyrightDetails.ApplicantDetails.Applicant %}
                <span class="g-color-red">*</span>
            {% endif %}

            {% for applicant in hit.Certificate.CopyrightDetails.ApplicantDetails.Applicant %}
                {% if forloop.counter <= 2 %}
                    {{ applicant.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} {% if applicant_.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode %}[{{ applicant.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]{% endif %}{% if not forloop.last %}<br>{% endif %}
                {% elif forloop.counter == 3 %}
                    <a href="#!"
                       data-toggle="popover"
                       data-title="{% trans "Повний список заявників" %}"
                       data-html="true"
                       data-trigger="focus"
                       data-content="
                               {% for applicant_ in hit.Certificate.CopyrightDetails.ApplicantDetails.Applicant %}{{ applicant_.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} {% if applicant_.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode %}[{{ applicant_.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]{% endif %}<br>{% endfor %}"
                    >(+{{ hit.Certificate.CopyrightDetails.ApplicantDetails.Applicant|length|add:"-2" }})</a>
                {% endif %}
            {% endfor %}
        </div>

        {% if hit.search_data.obj_state == 2 %}
            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans 'Свідоцтво' %}:</h4>
                <a href="#!"
                   class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{% trans 'Номер свідоцтва про реєстрацію авторського права на твір' %}"
                >{{ hit.search_data.protective_doc_number }}</a><br>
                <a href="#!"
                   class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="{% trans 'Дата реєстрації авторського права' %}"
                >{{ hit.search_data.rights_date|parse_date|date:"d.m.Y" }}</a>
            </div>

            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "Автор(и)" %}:</h4>

                {% if hit.Document.is_limited and not hit.Certificate.CopyrightDetails.AuthorDetails.Author %}<span class="g-color-red">*</span>{% endif %}

                {% for author in hit.Certificate.CopyrightDetails.AuthorDetails.Author %}
                    {% if author.AuthorAddressBook.FormattedNameAddress.Name.FreeFormatName.RepresentNameFormDetails.RepresentNameForm %}
                        {{ author.AuthorAddressBook.FormattedNameAddress.Name.FreeFormatName.RepresentNameFormDetails.RepresentNameForm }}
                    {% else %}
                        {{ author.AuthorAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }}{% if author.AuthorAddressBook.FormattedNameAddress.Address.AddressCountryCode %}&nbsp;[{{ author.AuthorAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]{% endif %}
                    {% endif %}
                    {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if hit.Document.is_limited %}
            {% if not hit.Certificate.CopyrightDetails.AuthorDetails.Author or not hit.Certificate.CopyrightDetails.ApplicantDetails.Applicant %}
                <div class="col-12 g-mt-10 g-color-gray-dark-v3">
                    <span class="g-color-red">*</span> - <i>{% trans "інформація тимчасово обмежена" %}</i>
                </div>
            {% endif %}
        {% endif %}
    </div>

    {% include 'search/advanced/_partials/item_details_link_block.html' %}
</div>