{% load uma_extras %}
{% load i18n %}
{% load search_extras %}

<div class="card g-brd-none rounded-0 g-mb-15 g-font-size-13">
    <div class="d-flex justify-content-between card-header g-pl-10 g-py-4 g-bg-bluegray-opacity-0_35 g-brd-transparent g-font-size-14 g-font-weight-600 rounded-0 mb-0">
        <div>
            {{ item_num }}.
            <a href="{% url 'search:detail' pk=hit.meta.id %}"
               class="g-color-black-opacity-0_8 g-color-burgundy--hover g-text-underline g-text-underline--none--hover"
            >{% if hit.search_data.title %}{{ hit.search_data.title.0 }}{% else %}{{ hit.search_data.app_number }}{% endif %}</a>
        </div>

        {% include 'search/advanced/_partials/favorites_icon.html' %}
    </div>

    <div class="g-py-5 d-flex justify-content-between">
        <div class="g-text-underline text-info">
            {% if hit.search_data.obj_state == 1 %}
                {% if hit.Document.idObjType == 1 %}
                    {% trans "Заявка на винахід" %}
                {% else %}
                    {% trans "Заявка на корисну модель" %}
                {% endif %}
            {% elif hit.search_data.obj_state == 2 %}
                {% if biblo_data.I_12 %}
                    {{ biblio_data.I_12 }}
                {% else %}
                    {% if hit.Document.idObjType == 1 %}
                        {% trans "Патент на винахід" %}
                    {% elif hit.Document.idObjType == 2 %}
                        {% trans "Патент на корисну модель" %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>

        {% if hit.search_data.obj_state == 2 %}
            {% registration_status hit=hit %}
        {% endif %}
    </div>

    <div class="row g-color-black-opacity-0_9 g-line-height-1_3">
        {% if not biblio_data %}
        {# Заявка без права просмотра библиографических данных #}
            <div class="col-md">
                <p class="g-font-weight-600 g-mb-0 text-danger">{% trans "Для даної заявки можливий перегляд лише її стану діловодства." %}</p>
            </div>

        {% else %}
            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "Винахідник(и)" %}:</h4>
                {% for I_72 in biblio_data.I_72|list_of_dicts_unique %}
                    {% if forloop.counter <= 2 %}
                        {{ I_72|get_person_name }} [{{ I_72|get_person_country }}]{% if not forloop.last %}<br>{% endif %}
                    {% elif forloop.counter == 3 %}
                        <a href="#!"
                           data-toggle="popover"
                           data-title="{% trans "Повний список винахідників" %}"
                           data-html="true"
                           data-trigger="focus"
                           data-content="
                                   {% for I_72_ in biblio_data.I_72|list_of_dicts_unique %}{{ I_72_|get_person_name }} [{{ I_72_|get_person_country }}]<br>{% endfor %}"
                        >(+{{ biblio_data.I_72|list_of_dicts_unique|length|add:"-2" }})</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "Заявник(и)" %}:</h4>
                {% for I_71 in biblio_data.I_71|list_of_dicts_unique %}
                    {% if forloop.counter <= 2 %}
                        {{ I_71|get_person_name }} [{{ I_71|get_person_country }}]{% if not forloop.last %}<br>{% endif %}
                    {% elif forloop.counter == 3 %}
                        <a href="#!"
                           data-toggle="popover"
                           data-title="{% trans "Повний список заявників" %}"
                           data-html="true"
                           data-trigger="focus"
                           data-content="
                                   {% for I_71_ in biblio_data.I_71|list_of_dicts_unique %}{{ I_71_|get_person_name }} [{{ I_71_|get_person_country }}]<br>{% endfor %}"
                        >(+{{ biblio_data.I_71|list_of_dicts_unique|length|add:"-2" }})</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "МПК" %}:</h4>
                {% for ipc in biblio_data.IPC %}
                    {% if forloop.counter <= 2 %}
                        {{ ipc }}{% if not forloop.last %}<br>{% endif %}
                    {% elif forloop.counter == 3 %}
                        <a href="#!"
                           data-toggle="popover"
                           data-title="{% trans "Повний список індексів МПК" %}"
                           data-html="true"
                           data-trigger="focus"
                           data-content="{% for ipc_ in biblio_data.IPC %}{{ ipc_ }}<br>{% endfor %}"
                        >(+{{ biblio_data.IPC|length|add:"-2" }})</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "Заявка" %}:</h4>
                <a href="#!"
                   class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="(21) {% trans "Номер заявки" %}"
                >{{ biblio_data.I_21 }}</a><br>
                <a href="#!"
                   class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="(22) {% trans "Дата подання заявки" %}"
                >{{ biblio_data.I_22|parse_date|date:"d.m.Y" }}</a>
            </div>

            {% if hit.search_data.obj_state == 2 %}
                <div class="col-md">
                    <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "Патент" %}:</h4>
                    <a href="#!"
                       class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="(11) {% trans "Номер патенту" %}"
                    >{{ biblio_data.I_11 }}</a><br>
                    {% for I_45 in biblio_data|get:"I_45.D" %}
                        <a href="#!"
                           class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="(46) {% trans "Дата публікації про видачу патенту" %}"
                        >{{ I_45|parse_date|date:"d.m.Y" }}</a>
                    {% endfor %}
                </div>
                <div class="col-md">
                    <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "Власник(и)" %}:</h4>
                    {% for I_73 in biblio_data.I_73|list_of_dicts_unique %}
                        {% if forloop.counter <= 2 %}
                            {{ I_73|get_person_name }} [{{ I_73|get_person_country }}]{% if not forloop.last %}<br>{% endif %}
                        {% elif forloop.counter == 3 %}
                            <a href="#!"
                               data-toggle="popover"
                               data-title="{% trans "Повний список власників" %}"
                               data-html="true"
                               data-trigger="focus"
                               data-content="{% for I_73_ in biblio_data.I_73|list_of_dicts_unique %}{{ I_73_|get_person_name }} [{{ I_73_|get_person_country }}]<br>{% endfor %}"
                            >(+{{ biblio_data.I_73|list_of_dicts_unique|length|add:"-2" }})</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
    {% endif %}
    </div>

    {% include 'search/advanced/_partials/item_details_link_block.html' %}
</div>