{% load i18n %}
{% load uma_extras %}
{% load search_extras %}
{% load humanize %}

<div class="g-pr-40--lg g-mb-50 g-mb-0--lg sticky-top g-z-index-99">

    <form action="{% url 'search:add_filter_params' %}" method="post" id="filter-form">
        {% csrf_token %}
        <input type="hidden" name="get_params" value="{{ get_params|urlencode_dict }}">

        <h2 class="h5 text-uppercase g-color-gray-dark-v1">{% trans "Тип" %} <abbr title="{% trans "об'єкта інтелектуальної власності" %}">{% trans "ОПВ" %}</abbr></h2>

        <hr class="g-brd-gray-light-v4 g-my-15">

        <div class="g-mb-40">
            {% for obj_type in aggregations.obj_type_terms.buckets|dictsort:"key" %}
                <div class="form-group g-mb-5">
                    <label class="u-check g-pl-30 {% if obj_type.doc_count == 0 %}g-color-gray-light-v1{% endif %}">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
                               type="checkbox"
                               name="filter_obj_type"
                               value="{{ obj_type.key }}"
                               {% if obj_type.doc_count == 0 %}onclick="return false;"{% endif %}
                               {% if obj_type.key|stringformat:"i" in get_params.filter_obj_type %}checked{% endif %}>
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                            <i class="fa" data-check-icon=""></i>
                        </div>
                        {% obj_type_title id=obj_type.key lang=lang_code %}
                        {% if obj_type.doc_count > 0 and obj_type.key|stringformat:"i" not in get_params.filter_obj_type %}
                            <span class="g-color-gray-light-v1">
                                ({% if get_params.filter_obj_type %}+{% endif %}{{ obj_type.doc_count|intcomma }})
                            </span>
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
        </div>

        <h2 class="h5 text-uppercase g-color-gray-dark-v1">{% trans "Правовий статус" %} <abbr title="{% trans "об'єкта інтелектуальної власності" %}">{% trans "ОПВ" %}</abbr></h2>
        <hr class="g-brd-gray-light-v4 g-my-15">
        <div class="g-mb-40">
            {% for obj_state in aggregations.obj_state_terms.buckets|dictsort:"key" %}
                <div class="form-group g-mb-5">
                    <label class="u-check g-pl-30 {% if obj_state.doc_count == 0 %}g-color-gray-light-v1{% endif %}">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
                               type="checkbox"
                               name="filter_obj_state"
                               value="{{ obj_state.key }}"
                               {% if obj_state.doc_count == 0 %}onclick="return false;"{% endif %}
                               {% if obj_state.key|stringformat:"i" in get_params.filter_obj_state %}checked{% endif %}>
                        <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                            <i class="fa" data-check-icon=""></i>
                        </div>
                        {% if obj_state.key == 1 %}{% trans "Заявка" %}{% elif obj_state.key == 2 %}{% trans "Охоронний документ" %}{% endif %}
                        {% if obj_state.doc_count > 0 and obj_state.key|stringformat:"i" not in get_params.filter_obj_state %}
                            <span class="g-color-gray-light-v1">
                                ({% if get_params.filter_obj_state %}+{% endif %}{{ obj_state.doc_count|intcomma }})
                            </span>
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
        </div>

        {% if aggregations.registration_status_color_terms.buckets %}
            <h2 class="h5 text-uppercase g-color-gray-dark-v1">{% trans "Статус охоронного документа" %}</h2>
            <hr class="g-brd-gray-light-v4 g-my-15">
            <div class="g-mb-40">
                {% for color in aggregations.registration_status_color_terms.buckets|dictsort:"key" %}
                    <div class="form-group g-mb-5">
                        <label class="u-check g-pl-30 {% if color.doc_count == 0 %}g-color-gray-light-v1{% endif %}">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
                                   type="checkbox"
                                   name="filter_registration_status_color"
                                   value="{{ color.key }}"
                                   {% if color.doc_count == 0 %}onclick="return false;"{% endif %}
                                   {% if color.key in get_params.filter_registration_status_color %}checked{% endif %}
                            >
                            <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                <i class="fa" data-check-icon=""></i>
                            </div>
                            <i class="fa fa-circle g-color-{{ color.key }} {% if color.doc_count == 0 %}g-opacity-0_3{% endif %} g-mr-5"></i>
                            {% if color.key == 'red' %}
                                {% trans "Не діє" %}
                            {% elif color.key == 'green' %}
                                {% trans "Діє" %}
                            {% elif color.key == 'yellow' %}
                                {% trans "Дію припинено" %}
                            {% endif %}
                            {% if color.doc_count > 0 and color.key not in get_params.filter_registration_status_color %}
                                <span class="g-color-gray-light-v1">
                                    ({% if get_params.filter_registration_status_color %}+{% endif %}{{ color.doc_count|intcomma }})
                                </span>
                            {% endif %}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% for status in aggregations.mark_status_terms.buckets|dictsort:"key"|slice:":1" %}
            {% if status.doc_count > 0 %}
                <h2 class="h5 text-uppercase g-color-gray-dark-v1">{% trans "Статус заявки" %}</h2>
                <hr class="g-brd-gray-light-v4 g-my-15">
                <div class="g-mb-20">
                    <div class="form-group g-mb-5">
                        <label class="u-check g-pl-30 {% if color.doc_count == 0 %}g-color-gray-light-v1{% endif %}">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0"
                                   type="checkbox"
                                   name="filter_mark_status"
                                   value="1000"
                                   {% if '1000' in get_params.filter_mark_status %}checked{% endif %}
                            >
                            <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                                <i class="fa" data-check-icon=""></i>
                            </div>
                            {% trans "Лише заявки з обмеженим доступом" %}
                        </label>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </form>
</div>