{% load uma_extras %}
{% load search_extras %}
{% load i18n %}

<div class="card g-brd-none rounded-0 g-mb-15 g-font-size-13">
    <div class="d-flex justify-content-between card-header g-font-size-14 g-pl-10 g-py-4 g-bg-bluegray-opacity-0_35 g-brd-transparent g-font-size-14 g-font-weight-600 rounded-0 mb-0">
        <div>
            {{ item_num }}.
            <a href="{% url 'search:detail' pk=hit.meta.id %}"
               class="g-color-black-opacity-0_8 g-color-burgundy--hover g-text-underline g-text-underline--none--hover"
            >{{ hit.search_data.title|default_if_none:"---" }}</a>
        </div>

        {% include 'search/advanced/_partials/favorites_icon.html' %}
    </div>

    <div class="g-py-5 d-flex justify-content-between">
        <div class="g-text-underline text-info">
            {% if hit.Document.idObjType == 9 %}
                {% trans "Міжнародна реєстрація торговельної марки з поширенням на територію України" %}
            {% else %}
                {% trans "Міжнародна реєстрація торговельної марки, що зареєстрована в Україні" %}
            {% endif %}
        </div>

        <div>
            {% if hit.MadridTradeMark.TradeMarkDetails.Code_441 %}
                {% trans "Дані станом на" %} <strong>{{ hit.MadridTradeMark.TradeMarkDetails.Code_441|parse_date|date:"d.m.Y" }}</strong>
            {% elif hit.search_data.protective_doc_number == '1502939' %}
                {% trans "Дані станом на" %} <strong>25.10.2023</strong>
            {% endif %}
        </div>
    </div>

    <div class="row g-color-black-opacity-0_9 g-line-height-1_3">
        {% if hit.search_data.obj_state == 2 %}
            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "Міжнародна реєстрація" %}:</h4>
                <a href="#!"
                   class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="(111) {% trans "Номер міжнародної реєстрації" %}"
                >{{ hit.MadridTradeMark.TradeMarkDetails|get:"@INTREGN" }}</a><br>
                <a href="#!"
                   class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="(151) {% trans "Дата міжнародної реєстрації" %}"
                >{{ hit.MadridTradeMark.TradeMarkDetails|get:"@INTREGD"|parse_date|date:"d.m.Y" }}</a>
            </div>
        {% endif %}

        {% if hit.search_data.obj_state == 2 %}
            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">{% trans "Власник(и)" %}:</h4>
                {{ hit.MadridTradeMark.TradeMarkDetails.HOLGR.NAME.NAMEL }} [{{ hit.MadridTradeMark.TradeMarkDetails.HOLGR.ADDRESS.COUNTRY }}]
            </div>
        {% endif %}


        <div class="col-md">
            <h4 class="g-font-size-13 g-font-weight-600 g-mb-0"><abbr title="{% trans "Міжнародна класифікація товарів і послуг для реєстрації знаків та перелік товарів і послуг" %}">{% trans "МКТП" %}</abbr>:</h4>
            {% for index in hit.MadridTradeMark.TradeMarkDetails.BASICGS.GSGR %}
                {{ index|get:"@NICCLAI" }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>

        <div class="col-md-3">
            <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_8--hover--after g-transition-0_3"
               href="javascript:;"
               data-src="{{ hit.Document.filesPath|get_image_url_madrid_tm:hit.search_data.protective_doc_number|add:".jpg" }}">
                <img class="img-fluid img-thumbnail"
                     src="{{ hit.Document.filesPath|get_image_url_madrid_tm:hit.search_data.protective_doc_number|add:".jpg" }}"
                     alt="">

                <span class="u-block-hover__additional--fade g-color-white g-z-index-2">
                    <i class="hs-icon hs-icon-magnifier g-absolute-centered g-font-size-25"></i>
                </span>
            </a>
        </div>
    </div>

    {% include 'search/advanced/_partials/item_details_link_block.html' %}
</div>