{% load uma_extras %}
{% load search_extras %}

{% user_has_access_to_app user hit as user_has_access_to_app %}
<div class="card g-brd-none rounded-0 g-mb-15 g-font-size-13">
    {% if not user.is_vip and hit.Document.MarkCurrentStatusCodeType == '1000' and not user_has_access_to_app %}
        <h3 class="card-header g-pl-10 g-py-4 bg-lightred g-brd-transparent g-font-size-14 g-font-weight-600 rounded-0 mb-0">
            {{ item_num }}.
            <a href="{% url 'search:detail' pk=hit.meta.id %}"
               class="g-color-black-opacity-0_8  g-text-underline g-text-underline--none--hover"
            >{{ hit.search_data.app_number|default_if_none:"---" }}</a>
        </h3>
        <div class="row g-color-black-opacity-0_9 g-line-height-1_3">
            <div class="col-md g-font-size-14">
                Доступ до даних заявки обмежено
                <a href="javascript:void(0);"
                   title="Інформація"
                   data-container="body"
                   data-toggle="popover"
                   data-placement="top"
                   data-html="true"
                   data-content="Доступ до даних заявки надається на платній основі. Детальну інформацію можна отримати на <a href='{% url 'help:help' %}'>відповідній сторінці</a> розділу <b>&#34;Допомога&#34;</b>"
                ><i class="fa fa-question-circle"></i></a>
            </div>
        </div>
    {% else %}
        <h3 class="card-header g-pl-10 g-py-4 {% if hit.Document.MarkCurrentStatusCodeType == '1000' %}g-bg-green{% else %}g-bg-bluegray-opacity-0_35{% endif %} g-brd-transparent g-font-size-14 g-font-weight-600 rounded-0 mb-0">
            {{ item_num }}.
            <a href="{% url 'search:detail' pk=hit.meta.id %}"
               class="g-color-black-opacity-0_8 g-color-burgundy--hover g-text-underline g-text-underline--none--hover"
            >{{ hit.search_data.title|default_if_none:"---" }}</a>
            {% if hit.Document.MarkCurrentStatusCodeType == '1000' %}
                <a href="javascript:void(0);"
                   title="Інформація"
                   data-container="body"
                   data-toggle="popover"
                   data-placement="top"
                   data-html="true"
                   data-content="Вам надано доступ до даних заявки"
                ><i class="fa fa-question-circle"></i></a>
            {% endif %}
        </h3>

        <div class="g-py-5 d-flex justify-content-between">
            <div class="g-text-underline text-info">
                {% if hit.search_data.obj_state == 1 %}
                    Заявка на знак для товарів та послуг
                {% else %}
                    Свідоцтво України на знак для товарів та послуг
                {% endif %}
            </div>

            {% if hit.search_data.obj_state == 2 %}
                {% registration_status hit=hit %}
            {% endif %}
        </div>

        <div class="row g-color-black-opacity-0_9 g-line-height-1_3">
            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">Заявник(и):</h4>
                {% for applicant in hit.TradeMark.TrademarkDetails.ApplicantDetails.Applicant %}
                    {% if forloop.counter <= 2 %}
                        {{ applicant.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} [{{ applicant.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]{% if not forloop.last %}<br>{% endif %}
                    {% elif forloop.counter == 3 %}
                        <a href="#!"
                           data-toggle="popover"
                           data-title="Повний список заявників"
                           data-html="true"
                           data-trigger="focus"
                           data-content="
                                   {% for applicant_ in hit.TradeMark.TrademarkDetails.ApplicantDetails.Applicant %}{{ applicant_.ApplicantAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} [{{ applicant_.ApplicantAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]<br>{% endfor %}"
                        >(+{{ hit.TradeMark.TrademarkDetails.ApplicantDetails.Applicant|length|add:"-2" }})</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">Заявка:</h4>
                <a href="#!"
                   class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="(210) Номер заявки"
                >{{ hit.TradeMark.TrademarkDetails.ApplicationNumber }}</a><br>
                {% if hit.TradeMark.TrademarkDetails.ApplicationDate %}
                    <a href="#!"
                       class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="(220) Дата подання заявки"
                    >{{ hit.TradeMark.TrademarkDetails.ApplicationDate|parse_date|date:"d.m.Y" }}</a>
                {% endif %}
            </div>

            {% if hit.search_data.obj_state == 2 %}
                <div class="col-md">
                    <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">Свідоцтво:</h4>
                    <a href="#!"
                       class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="(111) Номер реєстрації знака, який є номером свідоцтва"
                    >{{ hit.TradeMark.TrademarkDetails.RegistrationNumber }}</a><br>
                    <a href="#!"
                       class="g-color-black-opacity-0_9 g-text-underline g-text-underline--none--hover"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="(151) Дата реєстрації знака"
                    >{{ hit.TradeMark.TrademarkDetails.RegistrationDate|parse_date|date:"d.m.Y" }}</a>
                </div>
            {% endif %}

            {% if hit.search_data.obj_state == 2 %}
                <div class="col-md">
                    <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">Власник(и):</h4>
                    {% for holder in hit.TradeMark.TrademarkDetails.HolderDetails.Holder %}
                        {% if forloop.counter <= 2 %}
                            {{ holder.HolderAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} [{{ holder.HolderAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]{% if not forloop.last %}<br>{% endif %}
                        {% elif forloop.counter == 3 %}
                            <a href="#!"
                               data-toggle="popover"
                               data-title="Повний список власників"
                               data-html="true"
                               data-trigger="focus"
                               data-content="
                                       {% for holder_ in hit.TradeMark.TrademarkDetails.HolderDetails.Holder %}{{ holder_.HolderAddressBook.FormattedNameAddress.Name.FreeFormatName.FreeFormatNameDetails.FreeFormatNameLine }} [{{ holder_.HolderAddressBook.FormattedNameAddress.Address.AddressCountryCode }}]<br>{% endfor %}"
                            >(+{{ hit.TradeMark.TrademarkDetails.HolderDetails.Holder|length|add:"-2" }})</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="col-md">
                <h4 class="g-font-size-13 g-font-weight-600 g-mb-0">Індекси <abbr title="Міжнародної класифікації товарів і послуг для реєстрації знаків та перелік товарів і послуг">МКТП</abbr>:</h4>
                {% for index in hit.TradeMark.TrademarkDetails.GoodsServicesDetails.GoodsServices.ClassDescriptionDetails.ClassDescription %}
                    {{ index.ClassNumber }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-3">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_8--hover--after g-transition-0_3"
                   href="javascript:;"
                   data-src="{{ hit.Document.filesPath|get_image_url:hit.TradeMark.TrademarkDetails.MarkImageDetails.MarkImage.MarkImageFilename }}">
                    <img class="img-fluid img-thumbnail"
                         src="{{ hit.Document.filesPath|get_image_url:hit.TradeMark.TrademarkDetails.MarkImageDetails.MarkImage.MarkImageFilename }}"
                         alt="">

                    <span class="u-block-hover__additional--fade g-color-white g-z-index-2">
                        <i class="hs-icon hs-icon-magnifier g-absolute-centered g-font-size-25"></i>
                    </span>
                </a>
            </div>
        </div>
    {% endif %}


</div>