{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Замовлення' %} №{{ object.id }}{% endblock %}

{% block content %}

    {% include 'payments/order_detail/_partials/breadcrumbs.html' %}

    <section class="container g-py-70">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h2">{% trans 'Деталі замовлення' %}</h1>

                {% if object.is_paid %}
                    <p class="text-success lead g-font-weight-600 g-mt-30">{% trans 'Дякуємо, замовлення було сплачено.' %}</p>
                {% else %}
                    <dl class="row g-mt-40">
                        <dt class="col-sm-3">{% trans 'Номер заявки' %}</dt>
                        <dd class="col-sm-9">{{ object.app_number|default_if_none:"-" }}</dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-sm-3">{% trans 'Вид збору' %}</dt>
                        <dd class="col-sm-9">{{ object.fee_type.code_title }}</dd>
                    </dl>

                    <dl class="row">
                        <dt class="col-sm-3">{% trans 'Сума до сплати, грн' %}</dt>
                        <dd class="col-sm-9">{{ object.value }}</dd>
                    </dl>

                    <div class="text-center g-mt-20">
                        <a class="btn u-btn-indigo rounded-0 g-py-12 g-px-25 g-font-size-18"
                           id="pb_pay_btn"
                           target="_blank"
                           href='https://next.privat24.ua/payments/form/{"token":"41d9f80012e93f459fb60e22a7d6cfc941aaj8kf", "personalAccount":"{{ object.pk }}", "sum":"{{ object.value }}"}'>{% trans "Перейти до сплати у Приват24" %}</a>
                    </div>

                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}


{% block extra_scripts %}
    {% if not object.is_paid %}
        <script>
            function checkOrderStatus(retries=1800) {
                $.ajax({
                    type: 'get',
                    url: '/payments/api/order/status/' + {{ object.pk }},
                    success: function (data) {
                        if (data.is_paid === false) {
                            if (retries > 0) {
                                setTimeout(function () {
                                    checkOrderStatus(--retries);
                                }, 2000);
                            }
                        } else {
                            window.location.reload();
                        }
                    }
                });
            }

            $(function () {
                $( "#pb_pay_btn" ).click(function() {
                    checkOrderStatus();
                });
            });
        </script>
    {% endif %}
{% endblock %}