{% load uma_extras %}
{% load search_extras %}
{% load i18n %}

<div class="table-responsive">
    <table class="table table-sm table-biblio g-font-size-13">
        <tbody>
        {% if biblio_data.I_11 %}
            <tr>
                <th>(11) Номер патенту</th>
                <td>{{ biblio_data.I_11 }}</td>
            </tr>
        {% endif %}

        {% if biblio_data.I_13 %}
            <tr>
                <th>(13) Код виду документа (ВОІВ ST.16)</th>
                <td>{{ biblio_data.I_13 }}</td>
            </tr>
        {% endif %}

        {% if biblio_data.I_19 %}
            <tr>
                <th>(19) Код відомства (ВОІВ SТ.3)</th>
                <td>{{ biblio_data.I_19 }}</td>
            </tr>
        {% endif %}

        {% if biblio_data.I_21 %}
            <tr>
                <th>(21) Номер заявки</th>
                <td>{{ biblio_data.I_21 }}</td>
            </tr>
        {% endif %}

        {% if biblio_data.I_22 %}
            <tr>
                <th>(22) Дата заявки</th>
                <td>{{ biblio_data.I_22|parse_date|date:"d.m.Y" }}</td>
            </tr>
        {% endif %}

        {% if hit.search_data.obj_state == 2 and biblio_data.I_24 %}
            <tr>
                <th>(24) Дата, з якої є чинними права</th>
                <td>{{ biblio_data.I_24|parse_date|date:"d.m.Y" }}</td>
            </tr>
        {% endif %}

        {% if biblio_data.I_30 %}
            {% for I_30 in biblio_data.I_30 %}
                {% if biblio_data.I_30.I_31 %}
                    <tr>
                        <th>(31) Номер попередньої заявки</th>
                        <td>{{ biblio_data.I_30.I_31 }}
                            {% if biblio_data.I_30.I_33 %}
                                <span title="(33) Двобуквений код держави">biblio_data.I_30.I_33</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}

                {% if biblio_data.I_30.I_32 %}
                    <tr>
                        <th>(32) Дата подання попередньої заявки</th>
                        <td>{{ biblio_data.I_30.I_32|parse_date|date:"d.m.Y" }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if biblio_data|get:'I_43.D' %}
            <tr>
                <th>(43) Дата публікації заявки</th>
                <td>
                    {% for I_43 in biblio_data|get:'I_43.D' %}
                        {{ I_43|parse_date|date:"d.m.Y" }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if biblio_data|get:'I_45.D' %}
            <tr>
                <th>(45) Дата публікації про видачу патенту</th>
                <td>
                    {% for I_43 in biblio_data|get:'I_45.D' %}
                        {{ I_43|parse_date|date:"d.m.Y" }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        <tr>
            <th>(51) Iндекс МПК</th>
            <td class="i_51">
                {% for IPC in biblio_data.IPC %}
                    <span class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                        {{ IPC }}
                        {% if forloop.counter == 2 and not forloop.last %}
                            &nbsp;<a href="#"
                                     class="show-all g-font-size-12"
                                     title="{% trans "Показати всі" %}"
                        ><i class="fa fa-plus"></i></a>
                        {% endif %}
                        {% if not forloop.last %}<br>{% endif %}
                    </span>
                {% endfor %}
            </td>
        </tr>

        {% if biblio_data.I_54 %}
            <tr>
                <th>(54) Назва</th>
                <td>
                    {% for I_54 in biblio_data.I_54 %}
                        {% if I_54|get:'I_54.U' %}
                            {{ I_54|get:'I_54.U' }} [UA]
                        {% endif %}
                        {% if I_54|get:'I_54.R' %}
                            {{ I_54|get:'I_54.R' }} [RU]
                        {% endif %}
                        {% if I_54|get:'I_54.E' %}
                            {{ I_54|get:'I_54.E' }} [EN]
                        {% endif %}
                        {% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if biblio_data.I_56 %}
            <tr>
                <th>(56) Аналоги винаходу</th>
                <td>
                    <ul class="g-pl-15 g-mb-0 i_56">
                        {% for I_56 in biblio_data.I_56 %}
                            <li class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                                {{ I_56|get:"I_56.A" }}
                                {% if forloop.counter == 2 and not forloop.last %}
                                    &nbsp;<a href="#"
                                             class="show-all g-font-size-12"
                                             title="{% trans "Показати всі" %}"
                                ><i class="fa fa-plus"></i></a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endif %}

        {% if biblio_data.i_62 %}
            {% for i_62 in biblio_data.i_62 %}
                {% if i_62|get:"I_62.N" %}
                    <tr>
                        <th>(62) Номер більш ранньої заявки</th>
                        <td>{{ i_62|get:"I_62.N" }}</td>
                    </tr>
                {% endif %}
                {% if i_62|get:"I_62.D" %}
                    <tr>
                        <th>(62) Дата більш ранньої заявки</th>
                        <td>{{ i_62|get:"I_62.D" }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if biblio_data.I_71 %}
            <tr>
                <th>(71) Заявник</th>
                <td class="i_71">
                    {% for I_71_ in biblio_data.I_71 %}
                        <span class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                            {{ I_71_|get_person_name }} [{{ I_71_|get_person_country }}]
                            {% if forloop.counter == 2 and not forloop.last %}
                                &nbsp;<a href="#"
                                         class="show-all g-font-size-12"
                                         title="{% trans "Показати всі" %}"
                            ><i class="fa fa-plus"></i></a>
                            {% endif %}
                            {% if not forloop.last %}<br>{% endif %}
                        </span>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if biblio_data.I_72 %}
            <tr>
                <th>(72) Винахідник</th>
                <td class="i_72">
                    {% for I_72_ in biblio_data.I_72 %}
                        <span class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                            {{ I_72_|get_person_name }} [{{ I_72_|get_person_country }}]
                            {% if forloop.counter == 2 and not forloop.last %}
                                &nbsp;<a href="#"
                                         class="show-all g-font-size-12"
                                         title="{% trans "Показати всі" %}"
                            ><i class="fa fa-plus"></i></a>
                            {% endif %}
                            {% if not forloop.last %}<br>{% endif %}
                        </span>

                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if biblio_data.I_73 %}
            <tr>
                <th>(73) Власник</th>
                <td class="i_73">
                    {% for I_73_ in biblio_data.I_73 %}
                        <span class="{% if forloop.counter > 2 %}more hidden{% endif %}">
                            {{ I_73_|get_person_name }} [{{ I_73_|get_person_country }}]
                            {% if forloop.counter == 2 and not forloop.last %}
                                &nbsp;<a href="#"
                                         class="show-all g-font-size-12"
                                         title="{% trans "Показати всі" %}"
                            ><i class="fa fa-plus"></i></a>
                            {% endif %}
                            {% if not forloop.last %}<br>{% endif %}
                        </span>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}

        {% if biblio_data.I_74 %}
            <tr>
                <th>(74) Представник</th>
                <td>{{ biblio_data.I_74 }}</td>
            </tr>
        {% endif %}

        {% if biblio_data.I_98 %}
            <tr>
                <th>(98) Адреса для листування</th>
                <td>{{ biblio_data.I_98 }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<!-- End Basic Table -->