{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load search_extras %}

{% block title %}{% trans "Простий пошук" %}{% endblock %}

{% block content %}

    {% include 'search/simple/_partials/breadcrumbs.html' %}

    <div class="container g-py-70">
        <p class="g-mb-15 g-font-size-15">
            {% documents_count as document_count %}
            {% blocktrans with document_count=document_count|intword %}
                Система дозволяє здійснювати пошук в <strong>{{ document_count }}</strong> патентних документів. Детальну інформацію про сферу охоплення бази даних можна отримати <a href="#">тут</a>.
            {% endblocktrans %}
        </p>

        <div class="collapse g-mb-20 {% if not is_search or formset_errors %}show{% endif %}" id="collapseForm">
            {% if formset_errors %}
                <p class="text-danger g-font-size-16">{% trans 'Некоректні умови пошуку!' %}</p>
            {% endif %}
            <simple-search-form v-bind:search-parameter-types="{{ search_parameter_types }}"
                                v-bind:initial-data="{{ initial_data }}"/>
        </div>

        {% if is_search and not formset_errors %}
            <div class="results">
                <div class="g-mt-10">
                    <button class="btn btn-md u-btn-blue g-mb-20" type="button" data-toggle="collapse"
                            data-target="#collapseForm"
                            aria-expanded="false"
                            aria-controls="collapseExample">
                        <i class="fa fa-angle-down"></i> {% trans "Показати умови пошуку" %}
                    </button>
                    <p class="lead">{% trans "Зачекайте, відбувається формування результатів..." %}</p>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}


{% block extra_scripts %}
    {% get_current_language as LANGUAGE_CODE %}
    <script>
        function get_task_info(task_id) {
            var $resultsDiv = $(".results");

            $.ajax({
                type: 'get',
                url: '/{{ LANGUAGE_CODE }}/search/simple/results/',
                data: {'task_id': task_id},
                success: function (data) {
                    if (data.state === 'SUCCESS') {
                        $resultsDiv.html(data.result);
                        $('[data-toggle="popover"]').popover();
                        $.HSCore.components.HSPopup.init('.js-fancybox');
                    } else {
                        setTimeout(function () {
                            get_task_info(task_id)
                        }, 1000);
                    }
                },
                error: function (data) {
                    $resultsDiv.html("Something went wrong!");
                }
            });
        }

        {% if task_id %}
            $(function () {
                get_task_info('{{ task_id }}');
            });
        {% endif %}
    </script>
{% endblock %}
