{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load search_extras %}
{% load static %}

{% block title %}{% trans "Простий пошук" %}{% endblock %}

{% block content %}

    {% include 'search/simple/_partials/breadcrumbs.html' %}

    <div class="container g-py-70">
        {% if page_description %}
            <div class="g-mb-30 g-font-size-15">
                {{ page_description|safe }}
            </div>
        {% else %}
            <p class="g-mb-30 g-font-size-15">
                {% documents_count as document_count %}
                {% blocktrans with document_count=document_count|intword %}
                    Система дозволяє здійснювати пошук в <strong>{{ document_count }}</strong> патентних документів. Детальну інформацію про сферу охоплення бази даних можна отримати <a href="#">тут</a>.
                {% endblocktrans %}
            </p>
        {% endif %}
        <div class="collapse g-mb-20 {% if show_search_form %}show{% endif %}" id="collapseForm">
            <simple-search-form :search-parameter-types="{{ search_parameter_types }}"
                                :initial-data="{{ initial_data }}"/>
        </div>

        {% if is_search %}
            <div class="results">
                <div class="g-mt-10">
                    {% include 'search/_partials/show_search_conditions_btn.html' %}

                    <div class="g-pos-rel g-min-height-200">
                        <div class="overlay g-bg-white" id="overlay">
                            <div class="overlay-content">
                                <img src="{% static 'img/preloaders/loading.svg' %}" alt="Loading..."/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}


{% block extra_scripts %}
    {% get_current_language as LANGUAGE_CODE %}
    {% if RECAPTCHA_ENABLED %}
        <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    {% endif %}
    <script>
        function get_task_info(task_id, retries) {
            var $resultsDiv = $(".results");

            var onError = function() {
                $resultsDiv.find('p').html(gettext("Виникла помилка при отриманні даних. Будь-ласка, спробуйте пізніше."));
            };

            {% if RECAPTCHA_ENABLED %}
                grecaptcha.execute('{{ site_key }}', {action: 'simplesearch'}).then(function (token) {
            {% endif %}
                $.ajax({
                    type: 'get',
                    url: '/{{ LANGUAGE_CODE }}/search/results/',
                    data: {'task_id': task_id, 'search_type': 'simple', {% if RECAPTCHA_ENABLED %}'token': token{% endif %} },
                    success: function (data) {
                        if (data.state === 'SUCCESS') {
                            $resultsDiv.html(data.result);
                            $('[data-toggle="popover"]').popover();
                            $.HSCore.components.HSPopup.init('.js-fancybox');
                        } else {
                            if (retries > 0) {
                                setTimeout(function () {
                                    get_task_info(task_id, --retries)
                                }, 1000);
                            } else {
                                onError();
                            }
                        }
                    },
                    error: function (data) {
                        onError();
                    }
                {% if RECAPTCHA_ENABLED %}});{% endif %}
            });
        }

        {% if task_id %}
            $(function () {
                {% if RECAPTCHA_ENABLED %}
                grecaptcha.ready(function () {
                    get_task_info('{{ task_id }}', 20);
                });
                {% else %}
                    get_task_info('{{ task_id }}', 20);
                {% endif %}
            });
        {% endif %}
    </script>

    {{ RECAPTCHA_ENABLED|json_script:"recaptcha-enabled" }}
{% endblock %}

{% block extra_meta %}
    {% if RECAPTCHA_ENABLED %}
        <meta name="site-key" content="{{ site_key }}">
    {% endif %}
{% endblock %}