{% extends "base.html" %}
{% load i18n %}
{% load search_extras %}
{% load static %}

{% block title %}{% trans "Пошук по сповіщенням" %}{% endblock %}

{% block content %}

    {% include 'search/transactions/_partials/breadcrumbs.html' %}

    <div class="container g-py-70">
        {% if is_search %}
            <button class="btn btn-md u-btn-blue g-mb-20" type="button" data-toggle="collapse"
                    data-target="#collapseForm"
                    aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-angle-down"></i> {% trans "Показати умови пошуку" %}
            </button>
        {% endif %}

        <div class="collapse g-mb-20 {% if not is_search %}show{% endif %}" id="collapseForm">
            <transactions-search-form v-bind:recaptcha-enabled="{{ RECAPTCHA_ENABLED|yesno:"true,false" }}"
                                      v-bind:lang-code="'{{ request.LANGUAGE_CODE }}'"
                                      v-bind:initial="{{ initial_data }}"/>
        </div>

        {% if is_search %}
            <div class="results">
                <div class="row">
                    <div class="col-12 g-pos-rel g-min-height-200">
                        <div class="overlay g-bg-white" id="overlay">
                            <div class="overlay-content">
                                <img src="{% static 'img/preloaders/loading.svg' %}" alt="Loading..."/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block extra_scripts %}
    {% get_current_language as LANGUAGE_CODE %}
    {% if RECAPTCHA_ENABLED %}
        <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    {% endif %}
    <script>
        function get_task_info(task_id, retries) {
            var $resultsDiv = $(".results");

            var onError = function() {
                $resultsDiv.find('p').html(gettext("Виникла помилка при отриманні даних. Будь-ласка, спробуйте пізніше."));
            };

            {% if RECAPTCHA_ENABLED %}
                grecaptcha.execute('{{ site_key }}', {action: 'transactionssearch'}).then(function (token) {
            {% endif %}
                $.ajax({
                    type: 'get',
                    url: '/{{ LANGUAGE_CODE }}/search/results/',
                    data: {'task_id': task_id, 'search_type': 'transactions', {% if RECAPTCHA_ENABLED %}'token': token{% endif %}  },
                    success: function (data) {
                        if (data.state === 'SUCCESS') {
                            $resultsDiv.html(data.result);
                            $('[data-toggle="popover"]').popover();
                            $.HSCore.components.HSPopup.init('.js-fancybox');
                        } else {
                            if (retries > 0) {
                                setTimeout(function () {
                                    get_task_info(task_id, --retries)
                                }, 1000);
                            } else {
                                onError();
                            }
                        }
                    },
                    error: function (data) {
                        onError();
                    }
                });
            {% if RECAPTCHA_ENABLED %}});{% endif %}
        }

        {% if task_id %}
            $(function () {
                {% if RECAPTCHA_ENABLED %}
                    grecaptcha.ready(function () {
                        get_task_info('{{ task_id }}', 20);
                    });
                {% else %}
                    get_task_info('{{ task_id }}', 20);
                {% endif %}
            });
        {% endif %}
    </script>

    {{ RECAPTCHA_ENABLED|json_script:"recaptcha-enabled" }}
{% endblock %}

{% block extra_meta %}
    {% if RECAPTCHA_ENABLED %}
        <meta name="site-key" content="{{ site_key }}">
    {% endif %}
{% endblock %}