{% extends "base.html" %}
{% load i18n %}
{% load search_extras %}

{% block title %}{% trans "Пошук по сповіщенням" %}{% endblock %}

{% block content %}

    {% include 'search/transactions/_partials/breadcrumbs.html' %}

    <div class="container g-py-70">
        {% if is_search and not form.errors %}
            <button class="btn btn-md u-btn-blue g-mb-20" type="button" data-toggle="collapse"
                    data-target="#collapseForm"
                    aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-angle-down"></i> {% trans "Показати умови пошуку" %}
            </button>
        {% endif %}

        <div class="collapse g-mb-20 {% if not is_search or form.errors %}show{% endif %}" id="collapseForm">
            {% if form.errors %}
                <p class="text-danger g-font-size-16">{% trans 'Некоректні умови пошуку!' %}</p>
            {% endif %}

            <transactions-search-form v-bind:lang-code="'{{ request.LANGUAGE_CODE }}'" v-bind:initial="{{ initial_data }}"/>
        </div>

        {% if is_search and not formset_errors %}
            <div class="results">
                <div class="g-mt-10">
                    <p class="lead g-font-weight-400">{% trans "Зачекайте, відбувається формування результатів" %}<loading-dots></loading-dots></p>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block extra_scripts %}
    {% get_current_language as LANGUAGE_CODE %}
    <script>
        function get_task_info(task_id, retries) {
            var $resultsDiv = $(".results");

            var onError = function() {
                $resultsDiv.find('p').html(gettext("Виникла помилка при отриманні даних. Будь-ласка, спробуйте пізніше."));
            };

            $.ajax({
                type: 'get',
                url: '/{{ LANGUAGE_CODE }}/search/results/',
                data: {'task_id': task_id, 'search_type': 'transactions'},
                success: function (data) {
                    if (data.state === 'SUCCESS') {
                        $resultsDiv.html(data.result);
                        $('[data-toggle="popover"]').popover();
                        $.HSCore.components.HSPopup.init('.js-fancybox');
                    } else {
                        if (retries > 0) {
                            setTimeout(function () {
                                get_task_info(task_id, --retries)
                            }, 1000);
                        } else {
                            onError();
                        }
                    }
                },
                error: function (data) {
                    onError();
                }
            });
        }

        {% if task_id %}
            $(function () {
                get_task_info('{{ task_id }}', 20);
            });
        {% endif %}
    </script>
{% endblock %}