{% load search_extras %}
{% load i18n %}

<object data="{{ document_path }}{% if ver %}?{{ ver }}{% endif %}#zoom=auto&toolbar=1&navpanes=0"
        type="application/pdf"
        width="100%"
        height="{{ height }}">
    <iframe
            src="{{ document_path }}{% if ver %}?{{ ver }}{% endif %}#zoom=auto&toolbar=1&navpanes=0"
            width="100%"
            height="{{ height }}"
            style="border: none;">
        {% trans "Ваш браузер не підтримує PDF" %}. <a
                href="{{ document_path }}{% if ver %}?{{ ver }}{% endif %}">{% trans "Завантажити PDF" %}</a>.
    </iframe>
</object>