{% load static %}
{% load i18n %}

<section
    class="gradient g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_1--after g-color-white g-min-height-160"
    style="background-image: url({% static 'img/bg/bg-1.jpg' %});">
    <div class="container g-bg-cover__inner"></div>
</section>

<div class="container g-min-height-200 g-py-20 g-py-70--lg">
    <div class="row">
        <div class="col-12 text-justify">
            <p class="g-font-size-16 text-danger">
                {% blocktrans with app_number=hit.search_data.app_number %}
                    Увага! Доступ до даних заявки <b>{{ app_number }}</b> обмежено.
                {% endblocktrans %}
            </p>

            {% if user.is_authenticated %}
                {% url 'account:account_balance' as account_balance_url %}
                {% url 'help:help' as help_url %}
                {% blocktrans with tm_app_access_price=paid_service_settings.tm_app_access_price account_balance_url=account_balance_url help_url=help_url %}
                    <p>Доступ до даних заявки надається на платній основі. Якщо ви бажаєте продовжити перегляд, з вашого <a href="{{ account_balance_url }}">балансу рахунку</a> буде списано <b class="g-font-size-16">{{ tm_app_access_price }} грн</b>. Більш детальну інформацію ви можете отримати у розділі <a href="{{ help_url }}">"Допомога"</a>.</p>
                {% endblocktrans %}

                <p>{% trans "Ваш поточний баланс рахунку" %}: <b>{{ request.user.balance.value }} {% trans "грн" %}</b></p>
                <p><a class="btn btn-sm u-btn-purple" href="{% url 'account:account_balance_deposit' %}"><i class="fa fa-plus g-mr-5"></i>{% trans "Поповнити рахунок" %}</a></p>

                {% if not user.has_confirmed_license %}
                    {% include 'search/detail/_partials/license_confirmation.html' %}
                {% endif %}

                <div class="d-flex g-mt-15 flex-column align-items-center">
                    <a href="{% url 'search:get-access-app' hit.meta.id %}"
                       class="btn btn-md u-btn-primary {% if not user.has_confirmed_license or request.user.balance.value < paid_service_settings.tm_app_access_price %}disabled{% endif %}"><i class="fa fa-check g-mr-5"></i>{% trans "Я згоден та хочу продовжити перегляд" %}</a>
                    {% if request.user.balance.value < paid_service_settings.tm_app_access_price %}<small class="text-muted">{% trans "для продовження" %} <a href="{% url 'account:account_balance_deposit' %}">{% trans "поповніть рахунок" %}</a></small>{% endif %}
                </div>
            {% else %}
                {% url 'help:help' as help_url %}
                {% blocktrans with tm_app_access_price=paid_service_settings.tm_app_access_price %}
                    <p>Доступ до даних заявки надається на платній основі. Вартість перегляду даних однієї заявки складає <b>{{ tm_app_access_price }} грн</b>. Більш детальну інформацію ви можете отримати у розділі <a href="{{ help_url }}">"Допомога"</a>.</p>
                {% endblocktrans %}

                <p>{% trans "Для продовження роботи необхідно" %} <a href="{% url 'auth:login' %}">{% trans "авторизуватися" %}</a>.</p>
            {% endif %}
        </div>
    </div>
</div>