{% load search_extras %}
{% load i18n %}

{% include 'search/detail/ld/_partials/breadcrumbs.html' %}

<div class="container g-min-height-200 g-py-20 g-py-70--lg">
    <div class="row">
        <div class="col-md-3 g-mb-20">
            {% include 'search/detail/ld/_partials/sidebar.html' %}
        </div>

        <div class="col-md-9">
            <!-- Tab panes -->
            <div id="nav-1-1-primary-ver" class="tab-content">
                <div class="tab-pane fade show active" id="nav-biblio" role="tabpanel">
                    {% include 'search/detail/_partials/biblio_header.html' %}

                    {% include 'search/detail/ld/_partials/blblio_data/biblio.html' %}
                </div>


                <div class="tab-pane fade" id="nav-cl" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Формула" %}</h3>

                    {% if hit.biblio_documents.cl %}
                        {% include 'search/detail/ld/_partials/blblio_data/cl.html' %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="nav-de" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Опис" %}</h3>

                    {% if hit.biblio_documents.de %}
                        {% include 'search/detail/ld/_partials/blblio_data/de.html' %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="nav-de_pub" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Опублікований опис" %}</h3>

                    {% if hit.biblio_documents.de_pub %}
                        {% include 'search/detail/ld/_partials/blblio_data/de_pub.html' %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="nav-ab_ua" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Реферат (UA)" %}</h3>

                    {% if hit.biblio_documents.ab_ua %}
                        {% include 'search/detail/ld/_partials/blblio_data/ab_ua.html' %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="nav-ab_ru" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Реферат (RU)" %}</h3>

                    {% if hit.biblio_documents.ab_ru %}
                        {% include 'search/detail/ld/_partials/blblio_data/ab_ru.html' %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="nav-ab_en" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Реферат (EN)" %}</h3>

                    {% if biblio_documents.ab_en %}
                        {% include 'search/detail/ld/_partials/blblio_data/ab_en.html' %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="nav-docs" role="tabpanel">
                    <h3 class="g-pb-15">{% trans "Стан діловодства" %}</h3>

                    {% user_has_access_to_docs request.user hit as user_has_access_to_docs %}
                    {% if user_has_access_to_docs %}
                        {% include 'search/detail/ld/_partials/state_of_affair/documents.html' %}
                    {% else %}
                        {% include 'search/detail/ld/_partials/state_of_affair/documents_without_links.html' %}
                    {% endif %}

                    {% include 'search/detail/ld/_partials/state_of_affair/collections.html' %}
                    {% include 'search/detail/ld/_partials/state_of_affair/payments.html' %}
                </div>

                <div class="tab-pane fade" id="nav-transactions" role="tabpanel">
                    <h3 class="g-pb-20">{% trans "Сповіщення" %}</h3>

                    {% include 'search/detail/ld/_partials/transactions.html' %}
                </div>
            </div>
            <!-- End Tab panes -->
        </div>
    </div>
</div>