{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Налаштування" %} - {% trans "Мій кабінет" %}{% endblock %}

{% block content %}

    {% include 'accounts/settings/_partials/breadcrumbs.html' %}

    <section class="container g-pt-70 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-lg-3 g-mb-50 g-mb-0--lg">
                <!-- Sidebar Navigation -->
                {% include 'accounts/_partials/sidebar.html' %}
                <!-- End Sidebar Navigation -->
            </div>

            <div class="col-md-9 g-mb-60">
                <h2 class="h3 g-mb-25 g-font-weight-300">{% trans 'Налаштування' %}</h2>

                <form method="post" class="form" id="account-settings-form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <div class="text-sm-right">
                        <button type="submit" class="btn u-btn-primary rounded-0 g-py-12 g-px-25"><i class="fa fa-save g-mr-5"></i>Зберегти</button>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </section>

    {% include 'accounts/settings/_partials/license.html' %}
{% endblock %}